{
  "openapi": "3.1.0",
  "info": {
    "title": "NGP VAN API (community OpenAPI spec)",
    "version": "0.1.0",
    "description": "Community-maintained OpenAPI spec for the NGP VAN API, reverse-engineered from https://docs.ngpvan.com, the NGPVAN/van-cli source, and live probing of the sandbox API. The spec describes the API's actual behavior as observed. Where that behavior deviates from the official docs, the comparison is recorded out of band in `x-docs-discrepancy` fields (hidden by most documentation renderers) and summarized in [DISCREPANCIES.md](https://github.com/NickCrews/van-openapi/blob/main/DISCREPANCIES.md); research evidence and confidence notes live in `x-provenance` fields.\n\nSource repository: https://github.com/NickCrews/van-openapi — file issues and corrections there. This spec is not published or endorsed by NGP VAN; for questions about the API itself, contact APIDevelopers@ngpvan.com.\n\nSee [STATUS.md](https://github.com/NickCrews/van-openapi/blob/main/STATUS.md) for per-endpoint research status.\n\n**The API is not callable from a browser.** Its CORS support is incomplete: `api.securevan.com` answers the preflight correctly — reflecting the request origin and allowing the `Authorization` header — but omits `Access-Control-Allow-Origin` from the actual response (observed 2026-08-03; a `200` comes back with no `access-control-*` headers at all). A browser therefore sends the request, receives the response, and then blocks the page from reading it. `Access-Control-Allow-Credentials` is missing as well, which Basic auth would separately require. This affects only browser-based callers; server-side clients such as cURL, Python, or Apps Script are unaffected, since CORS is enforced by the browser rather than the server.",
    "contact": {
      "name": "van-openapi on GitHub",
      "url": "https://github.com/NickCrews/van-openapi"
    }
  },
  "externalDocs": {
    "description": "Source repository (NickCrews/van-openapi)",
    "url": "https://github.com/NickCrews/van-openapi"
  },
  "servers": [
    {
      "url": "https://api.securevan.com/v4",
      "description": "Production / sandbox (the API key determines the committee and database)"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "People",
      "description": "Look up, search, create and update people — the contacts and voters that most of the API hangs off."
    },
    {
      "name": "Notes",
      "description": "Free-text notes attached to a person, and the note categories available in the current context."
    },
    {
      "name": "Survey Questions",
      "description": "Survey questions and the canned responses canvassers can record against them."
    },
    {
      "name": "Echoes",
      "description": "Test endpoint for checking auth and connectivity. Writes nothing."
    }
  ],
  "paths": {
    "/people/{vanId}": {
      "get": {
        "operationId": "getPerson",
        "summary": "Get a person by VAN id",
        "description": "Retrieves a person record. Related collections (emails, phones, addresses, …) are null unless requested via $expand, and empty arrays when expanded but absent. An unknown, zero, or negative vanId returns the standard 404 error envelope; a non-integer path segment does not match the route and returns an HTML 404 page instead.",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "vanId",
            "in": "path",
            "required": true,
            "description": "VAN id of the person.",
            "x-docs-discrepancy": "Official docs type this path parameter as string (default \"100476252\"); the route only matches integers — a non-integer segment returns an IIS HTML 404 page (observed 2026-08-03).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            },
            "example": 102714507
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Related sections to include, comma-delimited eg 'addresses,emails'. Anything outside this set returns 400 INVALID_PARAMETER with a hint listing the valid values. Two sections in the set are still refused in a My Campaign context: `scores` with 403 FORBIDDEN and `pollingLocation` with 400 BAD_REQUEST.",
            "x-docs-discrepancy": "Official docs list only 10 valid $expand values; the API's own INVALID_PARAMETER hint (observed 2026-08-03) lists these 23.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "addresses",
                  "biography",
                  "cases",
                  "codes",
                  "contributionHistory",
                  "customFields",
                  "customProperties",
                  "disclosureFieldValues",
                  "districts",
                  "electionRecords",
                  "emails",
                  "externalIds",
                  "membershipStatuses",
                  "notes",
                  "organizationRoles",
                  "phones",
                  "pollingLocation",
                  "preferences",
                  "primaryContact",
                  "recordedAddresses",
                  "reportedDemographics",
                  "scores",
                  "suppressions"
                ]
              }
            },
            "example": [
              "emails",
              "phones",
              "addresses"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The person record. Clients that follow redirects can also land here with `text/html` instead: a path segment containing `<`, `>`, `*` or `&` is bounced to the web application's error page, which answers 200 with HTML (see the 302 response).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                },
                "examples": {
                  "expanded": {
                    "summary": "Sandbox test person with $expand=emails,phones,addresses (abridged: null-only fields omitted)",
                    "value": {
                      "vanId": 102714558,
                      "firstName": "Grace",
                      "lastName": "Testperson",
                      "contactSource": "API",
                      "contactMode": "Person",
                      "salutation": "Grace",
                      "formalSalutation": "Grace Testperson",
                      "envelopeName": "Grace Testperson",
                      "formalEnvelopeName": "Grace Testperson",
                      "isDeceased": false,
                      "dateCreated": "2026-08-03T16:31:00Z",
                      "dateAcquired": "0001-01-01T00:00:00Z",
                      "emails": [
                        {
                          "type": "W",
                          "email": "grace.testperson@example.com",
                          "dateCreated": "2026-08-03T16:31:00Z",
                          "isPreferred": true,
                          "isSubscribed": null,
                          "subscriptionStatus": "N"
                        }
                      ],
                      "phones": [
                        {
                          "phoneId": 1021629,
                          "phoneNumber": "9075550142",
                          "dialingPrefix": "1",
                          "countryCode": "US",
                          "ext": "123",
                          "dateCreated": "2026-08-03T16:31:00Z",
                          "phoneType": "Personal",
                          "deviceType": "Cell",
                          "isPreferred": true,
                          "isBest": true,
                          "isDisclosure": true,
                          "smsOptInStatus": "Opt-In",
                          "phoneOptInStatus": "Opt-In",
                          "isCellPhoneExchange": false,
                          "isCellStatus": null,
                          "tags": null
                        }
                      ],
                      "addresses": [
                        {
                          "addressId": 1206601,
                          "addressLine1": "123 Test St",
                          "addressLine2": "Apt 4",
                          "addressLine3": null,
                          "unitNo": null,
                          "city": "Anchorage",
                          "stateOrProvince": "AK",
                          "zipOrPostalCode": "99501",
                          "geoLocation": null,
                          "countryCode": "US",
                          "preview": "123 Test St Apt 4",
                          "type": "Voting",
                          "isPreferred": true,
                          "isBest": true,
                          "streetAddress": null,
                          "displayMode": "Standardized"
                        },
                        {
                          "addressId": 1206601,
                          "addressLine1": "123 Test St",
                          "addressLine2": "Apt 4",
                          "addressLine3": null,
                          "unitNo": null,
                          "city": "Anchorage",
                          "stateOrProvince": "AK",
                          "zipOrPostalCode": "99501",
                          "geoLocation": null,
                          "countryCode": "US",
                          "preview": "123 Test St Apt 4",
                          "type": "Mailing",
                          "isPreferred": true,
                          "isBest": true,
                          "streetAddress": null,
                          "displayMode": "Standardized"
                        }
                      ]
                    }
                  },
                  "person-collections-null-until-expanded/1": {
                    "summary": "Without $expand, every collection is null — including the email we just wrote.",
                    "description": "Emails, phones and addresses come back null — not empty — unless the request names them in $expand. Expanded, a section the person actually has is an array of entries and a section they lack is an empty array, so null always means 'not requested', never 'none'.",
                    "x-transcript": "person-collections-null-until-expanded",
                    "value": {
                      "vanId": 100000001,
                      "firstName": "Nadia",
                      "lastName": "Okonkwo",
                      "middleName": null,
                      "suffix": null,
                      "title": null,
                      "sourceFileTitle": null,
                      "sourceFileFirstName": null,
                      "sourceFileMiddleName": null,
                      "sourceFileLastName": null,
                      "sourceFileSuffix": null,
                      "contactSource": "API",
                      "contactMode": "Person",
                      "organizationContactCommonName": null,
                      "organizationContactOfficialName": null,
                      "salutation": "Nadia",
                      "formalSalutation": "Nadia Okonkwo",
                      "additionalSalutation": null,
                      "preferredPronoun": null,
                      "pronouns": null,
                      "namePronunciation": null,
                      "envelopeName": "Nadia Okonkwo",
                      "formalEnvelopeName": "Nadia Okonkwo",
                      "additionalEnvelopeName": null,
                      "contactMethodPreferenceCode": null,
                      "contactMethodPreferenceId": null,
                      "contactMethodPreferenceName": null,
                      "assistantName": null,
                      "nickname": null,
                      "website": null,
                      "professionalSuffix": null,
                      "party": null,
                      "employer": null,
                      "occupation": null,
                      "jobTitle": null,
                      "sex": null,
                      "dateOfBirth": null,
                      "isDeceased": false,
                      "dateCreated": "2026-01-01T00:00:00Z",
                      "dateAcquired": "0001-01-01T00:00:00Z",
                      "selfReportedRace": null,
                      "selfReportedEthnicity": null,
                      "selfReportedRaces": null,
                      "selfReportedEthnicities": null,
                      "selfReportedGenders": null,
                      "selfReportedSexualOrientations": null,
                      "selfReportedLanguagePreference": null,
                      "selfReportedLanguagePreferences": null,
                      "emails": null,
                      "phones": null,
                      "addresses": null,
                      "recordedAddresses": null,
                      "pollingLocation": null,
                      "earlyVoteLocation": null,
                      "identifiers": null,
                      "codes": null,
                      "customFields": null,
                      "primaryCustomField": null,
                      "contributionSummary": null,
                      "suppressions": null,
                      "caseworkCases": null,
                      "caseworkIssues": null,
                      "caseworkStories": null,
                      "notes": null,
                      "scores": null,
                      "customProperties": null,
                      "electionRecords": null,
                      "membershipStatus": null,
                      "organizationRoles": null,
                      "districts": null,
                      "surveyQuestionResponses": null,
                      "finderNumber": null,
                      "biographyImageUrl": null,
                      "biographyText": null,
                      "biographyHtml": null,
                      "primaryContact": null
                    }
                  },
                  "person-collections-null-until-expanded/2": {
                    "summary": "Expanded, the email appears and the phones the person lacks are [] rather than null.",
                    "description": "Emails, phones and addresses come back null — not empty — unless the request names them in $expand. Expanded, a section the person actually has is an array of entries and a section they lack is an empty array, so null always means 'not requested', never 'none'.",
                    "x-transcript": "person-collections-null-until-expanded",
                    "value": {
                      "vanId": 100000001,
                      "firstName": "Nadia",
                      "lastName": "Okonkwo",
                      "middleName": null,
                      "suffix": null,
                      "title": null,
                      "sourceFileTitle": null,
                      "sourceFileFirstName": null,
                      "sourceFileMiddleName": null,
                      "sourceFileLastName": null,
                      "sourceFileSuffix": null,
                      "contactSource": "API",
                      "contactMode": "Person",
                      "organizationContactCommonName": null,
                      "organizationContactOfficialName": null,
                      "salutation": "Nadia",
                      "formalSalutation": "Nadia Okonkwo",
                      "additionalSalutation": null,
                      "preferredPronoun": null,
                      "pronouns": null,
                      "namePronunciation": null,
                      "envelopeName": "Nadia Okonkwo",
                      "formalEnvelopeName": "Nadia Okonkwo",
                      "additionalEnvelopeName": null,
                      "contactMethodPreferenceCode": null,
                      "contactMethodPreferenceId": null,
                      "contactMethodPreferenceName": null,
                      "assistantName": null,
                      "nickname": null,
                      "website": null,
                      "professionalSuffix": null,
                      "party": null,
                      "employer": null,
                      "occupation": null,
                      "jobTitle": null,
                      "sex": null,
                      "dateOfBirth": null,
                      "isDeceased": false,
                      "dateCreated": "2026-01-01T00:00:00Z",
                      "dateAcquired": "0001-01-01T00:00:00Z",
                      "selfReportedRace": null,
                      "selfReportedEthnicity": null,
                      "selfReportedRaces": null,
                      "selfReportedEthnicities": null,
                      "selfReportedGenders": null,
                      "selfReportedSexualOrientations": null,
                      "selfReportedLanguagePreference": null,
                      "selfReportedLanguagePreferences": null,
                      "emails": [
                        {
                          "type": "P",
                          "email": "nadia.okonkwo@example.com",
                          "dateCreated": "2026-01-01T00:00:00Z",
                          "isPreferred": true,
                          "isSubscribed": true,
                          "subscriptionStatus": "S"
                        }
                      ],
                      "phones": [],
                      "addresses": null,
                      "recordedAddresses": null,
                      "pollingLocation": null,
                      "earlyVoteLocation": null,
                      "identifiers": null,
                      "codes": null,
                      "customFields": null,
                      "primaryCustomField": null,
                      "contributionSummary": null,
                      "suppressions": null,
                      "caseworkCases": null,
                      "caseworkIssues": null,
                      "caseworkStories": null,
                      "notes": null,
                      "scores": null,
                      "customProperties": null,
                      "electionRecords": null,
                      "membershipStatus": null,
                      "organizationRoles": null,
                      "districts": null,
                      "surveyQuestionResponses": null,
                      "finderNumber": null,
                      "biographyImageUrl": null,
                      "biographyText": null,
                      "biographyHtml": null,
                      "primaryContact": null
                    }
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                },
                "x-provenance": {
                  "lastProbed": "2026-08-03",
                  "note": "The VAN web app's \"Oops...something went wrong\" page, reached by following the request-validation 302. Documented so redirect-following clients (including the schemathesis stateful phase, which found it) conform."
                }
              }
            }
          },
          "302": {
            "$ref": "#/components/responses/RequestValidationRedirect"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/PersonNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "Related collections are null until $expand asks for them",
            "source": "# Emails, phones and addresses come back null — not empty — unless the\n# request names them in $expand. Expanded, a section the person actually has\n# is an array of entries and a section they lack is an empty array, so null\n# always means 'not requested', never 'none'.\n\n# A person with one email and nothing else.\n\ncurl -sS -X POST 'https://api.securevan.com/v4/people/create' \\\n  -u \"app-name:$NGP_API_KEY|1\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"firstName\": \"Nadia\",\n    \"lastName\": \"Okonkwo\",\n    \"emails\": [\n      {\n        \"email\": \"nadia.okonkwo@example.com\"\n      }\n    ]\n  }'\n# → 201  Location: https://api.securevan.com/v4/people/100000001\n# {\n#   \"vanId\": 100000001,\n#   \"status\": \"Stored\"\n# }\n\n# Without $expand, every collection is null — including the email we just\n# wrote.\n\ncurl -sS -X GET 'https://api.securevan.com/v4/people/100000001' \\\n  -u \"app-name:$NGP_API_KEY|1\"\n# → 200\n# {\n#   \"vanId\": 100000001,\n#   \"firstName\": \"Nadia\",\n#   \"lastName\": \"Okonkwo\",\n#   \"middleName\": null,\n#   \"suffix\": null,\n#   \"title\": null,\n#   \"sourceFileTitle\": null,\n#   \"sourceFileFirstName\": null,\n#   \"sourceFileMiddleName\": null,\n#   \"sourceFileLastName\": null,\n#   \"sourceFileSuffix\": null,\n#   \"contactSource\": \"API\",\n#   \"contactMode\": \"Person\",\n#   \"organizationContactCommonName\": null,\n#   \"organizationContactOfficialName\": null,\n#   \"salutation\": \"Nadia\",\n#   \"formalSalutation\": \"Nadia Okonkwo\",\n#   \"additionalSalutation\": null,\n#   \"preferredPronoun\": null,\n#   \"pronouns\": null,\n#   \"namePronunciation\": null,\n#   \"envelopeName\": \"Nadia Okonkwo\",\n#   \"formalEnvelopeName\": \"Nadia Okonkwo\",\n#   \"additionalEnvelopeName\": null,\n#   \"contactMethodPreferenceCode\": null,\n#   \"contactMethodPreferenceId\": null,\n#   \"contactMethodPreferenceName\": null,\n#   \"assistantName\": null,\n#   \"nickname\": null,\n#   \"website\": null,\n#   \"professionalSuffix\": null,\n#   \"party\": null,\n#   \"employer\": null,\n#   \"occupation\": null,\n#   \"jobTitle\": null,\n#   \"sex\": null,\n#   \"dateOfBirth\": null,\n#   \"isDeceased\": false,\n#   \"dateCreated\": \"2026-01-01T00:00:00Z\",\n#   \"dateAcquired\": \"0001-01-01T00:00:00Z\",\n#   \"selfReportedRace\": null,\n#   \"selfReportedEthnicity\": null,\n#   \"selfReportedRaces\": null,\n#   \"selfReportedEthnicities\": null,\n#   \"selfReportedGenders\": null,\n#   \"selfReportedSexualOrientations\": null,\n#   \"selfReportedLanguagePreference\": null,\n#   \"selfReportedLanguagePreferences\": null,\n#   \"emails\": null,\n#   \"phones\": null,\n#   \"addresses\": null,\n#   \"recordedAddresses\": null,\n#   \"pollingLocation\": null,\n#   \"earlyVoteLocation\": null,\n#   \"identifiers\": null,\n#   \"codes\": null,\n#   \"customFields\": null,\n#   \"primaryCustomField\": null,\n#   \"contributionSummary\": null,\n#   \"suppressions\": null,\n#   \"caseworkCases\": null,\n#   \"caseworkIssues\": null,\n#   \"caseworkStories\": null,\n#   \"notes\": null,\n#   \"scores\": null,\n#   \"customProperties\": null,\n#   \"electionRecords\": null,\n#   \"membershipStatus\": null,\n#   \"organizationRoles\": null,\n#   \"districts\": null,\n#   \"surveyQuestionResponses\": null,\n#   \"finderNumber\": null,\n#   \"biographyImageUrl\": null,\n#   \"biographyText\": null,\n#   \"biographyHtml\": null,\n#   \"primaryContact\": null\n# }\n\n# Expanded, the email appears and the phones the person lacks are [] rather\n# than null.\n\ncurl -sS -X GET 'https://api.securevan.com/v4/people/100000001?%24expand=emails%2Cphones' \\\n  -u \"app-name:$NGP_API_KEY|1\"\n# → 200\n# {\n#   \"vanId\": 100000001,\n#   \"firstName\": \"Nadia\",\n#   \"lastName\": \"Okonkwo\",\n#   \"middleName\": null,\n#   \"suffix\": null,\n#   \"title\": null,\n#   \"sourceFileTitle\": null,\n#   \"sourceFileFirstName\": null,\n#   \"sourceFileMiddleName\": null,\n#   \"sourceFileLastName\": null,\n#   \"sourceFileSuffix\": null,\n#   \"contactSource\": \"API\",\n#   \"contactMode\": \"Person\",\n#   \"organizationContactCommonName\": null,\n#   \"organizationContactOfficialName\": null,\n#   \"salutation\": \"Nadia\",\n#   \"formalSalutation\": \"Nadia Okonkwo\",\n#   \"additionalSalutation\": null,\n#   \"preferredPronoun\": null,\n#   \"pronouns\": null,\n#   \"namePronunciation\": null,\n#   \"envelopeName\": \"Nadia Okonkwo\",\n#   \"formalEnvelopeName\": \"Nadia Okonkwo\",\n#   \"additionalEnvelopeName\": null,\n#   \"contactMethodPreferenceCode\": null,\n#   \"contactMethodPreferenceId\": null,\n#   \"contactMethodPreferenceName\": null,\n#   \"assistantName\": null,\n#   \"nickname\": null,\n#   \"website\": null,\n#   \"professionalSuffix\": null,\n#   \"party\": null,\n#   \"employer\": null,\n#   \"occupation\": null,\n#   \"jobTitle\": null,\n#   \"sex\": null,\n#   \"dateOfBirth\": null,\n#   \"isDeceased\": false,\n#   \"dateCreated\": \"2026-01-01T00:00:00Z\",\n#   \"dateAcquired\": \"0001-01-01T00:00:00Z\",\n#   \"selfReportedRace\": null,\n#   \"selfReportedEthnicity\": null,\n#   \"selfReportedRaces\": null,\n#   \"selfReportedEthnicities\": null,\n#   \"selfReportedGenders\": null,\n#   \"selfReportedSexualOrientations\": null,\n#   \"selfReportedLanguagePreference\": null,\n#   \"selfReportedLanguagePreferences\": null,\n#   \"emails\": [\n#     {\n#       \"type\": \"P\",\n#       \"email\": \"nadia.okonkwo@example.com\",\n#       \"dateCreated\": \"2026-01-01T00:00:00Z\",\n#       \"isPreferred\": true,\n#       \"isSubscribed\": true,\n#       \"subscriptionStatus\": \"S\"\n#     }\n#   ],\n#   \"phones\": [],\n#   \"addresses\": null,\n#   \"recordedAddresses\": null,\n#   \"pollingLocation\": null,\n#   \"earlyVoteLocation\": null,\n#   \"identifiers\": null,\n#   \"codes\": null,\n#   \"customFields\": null,\n#   \"primaryCustomField\": null,\n#   \"contributionSummary\": null,\n#   \"suppressions\": null,\n#   \"caseworkCases\": null,\n#   \"caseworkIssues\": null,\n#   \"caseworkStories\": null,\n#   \"notes\": null,\n#   \"scores\": null,\n#   \"customProperties\": null,\n#   \"electionRecords\": null,\n#   \"membershipStatus\": null,\n#   \"organizationRoles\": null,\n#   \"districts\": null,\n#   \"surveyQuestionResponses\": null,\n#   \"finderNumber\": null,\n#   \"biographyImageUrl\": null,\n#   \"biographyText\": null,\n#   \"biographyHtml\": null,\n#   \"primaryContact\": null\n# }",
            "x-transcript": "person-collections-null-until-expanded"
          },
          {
            "lang": "Shell",
            "label": "$expand values are policed, and two valid ones are refused here",
            "source": "# A value outside the documented set is refused with INVALID_PARAMETER and a\n# hint listing every valid value. Two values inside the set are still\n# refused in a My Campaign context: `scores` with 403 and `pollingLocation`\n# with 400.\n\ncurl -sS -X POST 'https://api.securevan.com/v4/people/create' \\\n  -u \"app-name:$NGP_API_KEY|1\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"firstName\": \"Emeka\",\n    \"lastName\": \"Adeyemi\"\n  }'\n# → 201  Location: https://api.securevan.com/v4/people/100000001\n# {\n#   \"vanId\": 100000001,\n#   \"status\": \"Stored\"\n# }\n\n# An invented section. The hint in the refusal is the authoritative list.\n\ncurl -sS -X GET 'https://api.securevan.com/v4/people/100000001?%24expand=frisbees' \\\n  -u \"app-name:$NGP_API_KEY|1\"\n# → 400\n# {\n#   \"errors\": [\n#     {\n#       \"code\": \"INVALID_PARAMETER\",\n#       \"text\": \"'frisbees' is not a valid argument for the '$expand' parameter\",\n#       \"properties\": [\n#         \"$expand\"\n#       ],\n#       \"hint\": \"The only valid expand sections are: 'contributionHistory', 'addresses', 'phones', 'emails', 'codes', 'customFields', 'externalIds', 'preferences', 'recordedAddresses', 'reportedDemographics', 'suppressions', 'cases', 'customProperties', 'districts', 'electionRecords', 'membershipStatuses', 'notes', 'organizationRoles', 'scores', 'disclosureFieldValues', 'primaryContact', 'pollingLocation', 'biography'\"\n#     }\n#   ]\n# }\n\n# `scores` is in the valid set, but this context is refused it outright.\n\ncurl -sS -X GET 'https://api.securevan.com/v4/people/100000001?%24expand=scores' \\\n  -u \"app-name:$NGP_API_KEY|1\"\n# → 403\n# {\n#   \"errors\": [\n#     {\n#       \"code\": \"FORBIDDEN\",\n#       \"text\": \"May not request 'scores'\"\n#     }\n#   ]\n# }\n\n# `pollingLocation` is also in the set, and also refused — but as a 400.\n\ncurl -sS -X GET 'https://api.securevan.com/v4/people/100000001?%24expand=pollingLocation' \\\n  -u \"app-name:$NGP_API_KEY|1\"\n# → 400\n# {\n#   \"errors\": [\n#     {\n#       \"code\": \"BAD_REQUEST\",\n#       \"text\": \"May not request 'pollingLocation' in this context\"\n#     }\n#   ]\n# }",
            "x-transcript": "person-expand-set-is-policed"
          },
          {
            "lang": "Shell",
            "label": "Unknown ids 404 with the envelope; a non-integer id gets HTML",
            "source": "# An unknown, zero or negative vanId returns the standard 404 error\n# envelope. A path segment that is not an integer never reaches the handler\n# — the route does not match, and the answer is an HTML 404 page instead.\n\n# An id no record has ever had.\n\ncurl -sS -X GET 'https://api.securevan.com/v4/people/2147483646' \\\n  -u \"app-name:$NGP_API_KEY|1\"\n# → 404\n# {\n#   \"errors\": [\n#     {\n#       \"code\": \"NOT_FOUND\",\n#       \"text\": \"The specified resource cannot be found.\"\n#     }\n#   ]\n# }\n\n# Zero is refused the same way.\n\ncurl -sS -X GET 'https://api.securevan.com/v4/people/0' \\\n  -u \"app-name:$NGP_API_KEY|1\"\n# → 404\n# {\n#   \"errors\": [\n#     {\n#       \"code\": \"NOT_FOUND\",\n#       \"text\": \"The specified resource cannot be found.\"\n#     }\n#   ]\n# }\n\n# A non-integer segment matches no route: HTML, not the JSON envelope.\n\ncurl -sS -X GET 'https://api.securevan.com/v4/people/abc' \\\n  -u \"app-name:$NGP_API_KEY|1\"\n# → 404\n# <!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\r\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\r\n<head>\r\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=iso-8859-1\"/>\r\n<title>404 - File or directory not found.</title>\r\n<style type=\"text/css\">\r\n<!--\r\nbody{margin:0;font-size:.7em;font-family:Verdana, Arial, Helvetica, sans-serif;background:#EEEEEE;}\r\nfieldset{padding:0 15px 10px 15px;} \r\nh1{font-size:2.4em;margin:0;color:#FFF;}\r\nh2{font-size:1.7em;margin:0;color:#CC0000;} \r\nh3{font-size:1.2em;margin:10px 0 0 0;color:#000000;} \r\n#header{width:96%;margin:0 0 0 0;padding:6px 2% 6px 2%;font-family:\"trebuchet MS\", Verdana, sans-serif;color:#FFF;\r\nbackground-color:#555555;}\r\n#content{margin:0 0 0 2%;position:relative;}\r\n.content-container{background:#FFF;width:96%;margin-top:8px;padding:10px;position:relative;}\r\n-->\r\n</style>\r\n</head>\r\n<body>\r\n<div id=\"header\"><h1>Server Error</h1></div>\r\n<div id=\"content\">\r\n <div class=\"content-container\"><fieldset>\r\n  <h2>404 - File or directory not found.</h2>\r\n  <h3>The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable.</h3>\r\n </fieldset></div>\r\n</div>\r\n</body>\r\n</html>\r\n",
            "x-transcript": "person-unknown-ids-404-two-ways"
          }
        ]
      },
      "post": {
        "operationId": "updatePerson",
        "summary": "Update an existing person",
        "description": "Merges the payload into an existing person record, addressed by id — no matching, no minimum-criteria threshold, and no chance of writing to the wrong duplicate. **This is the endpoint to write through once you have identified a person yourself** (e.g. from GET /people); POST /people/findOrCreate resolves ambiguity silently and creates duplicates below the match threshold.\n\nFields left out of the body keep their current values, and `emails`, `phones` and `addresses` are appended to what is already there rather than replacing it — there is no way to remove a contact method through this endpoint. The append is idempotent for an identical value: re-sending an email address the person already has — in a later update or twice in one body — does not create a second entry (observed via $expand=emails, 2026-08-08).\n\nOutcomes:\n\n- **The vanId exists** — **302 Found** with a `Location` header pointing back at `/people/{vanId}` and a match-stub body: the same shape POST /people/find returns, **not** the updated person.\n- **The body is empty (`{}`)** — accepted, answered the same **302**, and nothing changes.\n- **An unknown, zero or negative vanId** — **404**.",
        "x-provenance": {
          "lastProbed": "2026-08-03",
          "note": "Merge semantics confirmed by updating only middleName on a person and observing firstName, lastName and employer survive; append semantics by adding a second email and seeing both returned, with isPreferred moving to the newer one. Not in the official docs' page index; the path comes from van-cli (people.ts update), which notes PUT is not supported."
        },
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "vanId",
            "in": "path",
            "required": true,
            "description": "VAN id of the person to update.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            },
            "example": 102714580
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonInput"
              },
              "examples": {
                "scalars": {
                  "summary": "Change a couple of fields, leaving the rest alone",
                  "value": {
                    "middleName": "Quinn",
                    "employer": "Ship Creek Group"
                  }
                },
                "addEmail": {
                  "summary": "Append an email address (existing addresses are kept)",
                  "value": {
                    "emails": [
                      {
                        "email": "cre.work@example.com",
                        "type": "W"
                      }
                    ]
                  }
                },
                "update-appends-contact-methods/1": {
                  "summary": "Update with a second address. The first is not replaced — the list grows.",
                  "description": "Emails, phones and addresses in an update are added to what is already there; there is no way to remove one through this endpoint. The append is idempotent for an identical value: re-sending an email the person already has does not create a second entry.",
                  "x-transcript": "update-appends-contact-methods",
                  "value": {
                    "emails": [
                      {
                        "email": "imani.o@example.org"
                      }
                    ]
                  }
                },
                "update-appends-contact-methods/2": {
                  "summary": "Send the second address again, unchanged. Nothing is duplicated: still two entries.",
                  "description": "Emails, phones and addresses in an update are added to what is already there; there is no way to remove one through this endpoint. The append is idempotent for an identical value: re-sending an email the person already has does not create a second entry.",
                  "x-transcript": "update-appends-contact-methods",
                  "value": {
                    "emails": [
                      {
                        "email": "imani.o@example.org"
                      }
                    ]
                  }
                },
                "update-empty-body-is-accepted-and-unknown-ids-404/1": {
                  "summary": "An update that updates nothing. Accepted all the same.",
                  "description": "`{}` is accepted and answered with the same 302 as a real update, changing nothing. The failure mode is the id, not the body: an unknown vanId returns 404 whatever the payload says.",
                  "x-transcript": "update-empty-body-is-accepted-and-unknown-ids-404",
                  "value": {}
                },
                "update-empty-body-is-accepted-and-unknown-ids-404/2": {
                  "summary": "A perfectly good payload aimed at an id nobody has: 404.",
                  "description": "`{}` is accepted and answered with the same 302 as a real update, changing nothing. The failure mode is the id, not the body: an unknown vanId returns 404 whatever the payload says.",
                  "x-transcript": "update-empty-body-is-accepted-and-unknown-ids-404",
                  "value": {
                    "firstName": "Nobody"
                  }
                },
                "update-merges-fields-and-answers-with-a-stub": {
                  "summary": "An update merges the payload and answers 302 with a match stub",
                  "description": "The payload is merged into the record: fields in the body are overwritten, fields left out keep their values. The response is a 302 whose Location points back at the person and whose body is the same match stub find returns — not the updated person.",
                  "x-transcript": "update-merges-fields-and-answers-with-a-stub",
                  "value": {
                    "firstName": "Cora"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Never sent by this endpoint. This is where a redirect-following client *lands* after a successful update:\n\n```\nPOST /people/102714580         {\"firstName\": \"Cre\", …}\n  ← 302 Found\n    Location: https://api.securevan.com/v4/people/102714580   (same URL)\n    {\"vanId\": 102714580, \"status\": \"Matched\"}\n\nGET /people/102714580          ← client re-issues the request at Location\n  ← 200 OK\n    { the merged person record — the body documented here }\n```\n\nA happy accident: the update itself never returns the person, but the followed GET does, so redirect-following clients get the merged result for free. See POST /people/find for the full redirect-following notes, including the `curl -X POST -L` gotcha.\n\nThe other way to reach a 200 is a failure: when the 302 was the ASP.NET request-validation bounce (a path segment containing `<`, `>`, `*` or `&`), following it lands on the web application's HTML error page, which answers 200 with `text/html`. Check the content type before parsing JSON.",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "Chain observed end to end with httpx: POST /people/{vanId} with an empty body → 302 back to the same URL → GET → 200 with the full person record."
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "302": {
            "description": "The person was updated. `Location` points back at the person resource; the body is a match stub, not the updated person.\n\nThe same status also covers a failure that never reaches the API: a path segment containing `<`, `>`, `*` or `&` is rejected by ASP.NET request validation and redirected to `/Error.aspx?EID={code}` with an HTML body. Check the content type to tell them apart.",
            "headers": {
              "Location": {
                "description": "URL of the updated person — or of the web application's error page when request validation rejected the path.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "example": "https://api.securevan.com/v4/people/102714580"
              }
            },
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                },
                "x-provenance": {
                  "lastProbed": "2026-08-03",
                  "note": "\"Object moved\" body of the request-validation redirect; see the RequestValidationRedirect response for the full story."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonMatched"
                },
                "examples": {
                  "update-appends-contact-methods/1": {
                    "summary": "Update with a second address. The first is not replaced — the list grows.",
                    "description": "Emails, phones and addresses in an update are added to what is already there; there is no way to remove one through this endpoint. The append is idempotent for an identical value: re-sending an email the person already has does not create a second entry.",
                    "x-transcript": "update-appends-contact-methods",
                    "value": {
                      "vanId": 100000001,
                      "status": "Matched"
                    }
                  },
                  "update-appends-contact-methods/2": {
                    "summary": "Send the second address again, unchanged. Nothing is duplicated: still two entries.",
                    "description": "Emails, phones and addresses in an update are added to what is already there; there is no way to remove one through this endpoint. The append is idempotent for an identical value: re-sending an email the person already has does not create a second entry.",
                    "x-transcript": "update-appends-contact-methods",
                    "value": {
                      "vanId": 100000001,
                      "status": "Matched"
                    }
                  },
                  "update-empty-body-is-accepted-and-unknown-ids-404/1": {
                    "summary": "An update that updates nothing. Accepted all the same.",
                    "description": "`{}` is accepted and answered with the same 302 as a real update, changing nothing. The failure mode is the id, not the body: an unknown vanId returns 404 whatever the payload says.",
                    "x-transcript": "update-empty-body-is-accepted-and-unknown-ids-404",
                    "value": {
                      "vanId": 100000001,
                      "status": "Matched"
                    }
                  },
                  "update-merges-fields-and-answers-with-a-stub": {
                    "summary": "An update merges the payload and answers 302 with a match stub",
                    "description": "The payload is merged into the record: fields in the body are overwritten, fields left out keep their values. The response is a 302 whose Location points back at the person and whose body is the same match stub find returns — not the updated person.",
                    "x-transcript": "update-merges-fields-and-answers-with-a-stub",
                    "value": {
                      "vanId": 100000001,
                      "status": "Matched"
                    }
                  }
                }
              }
            },
            "links": {
              "getUpdatedPerson": {
                "operationId": "getPerson",
                "parameters": {
                  "vanId": "$response.body#/vanId"
                },
                "description": "Fetch the person to see the merged result — the update response does not include it."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/PersonNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "Contact methods are appended, never replaced — and identical ones dedupe",
            "source": "# Emails, phones and addresses in an update are added to what is already\n# there; there is no way to remove one through this endpoint. The append is\n# idempotent for an identical value: re-sending an email the person already\n# has does not create a second entry.\n\nPEOPLE_BODY='{\n  \"emails\": [\n    {\n      \"email\": \"imani.o@example.org\"\n    }\n  ]\n}'\n\n# A person with one email address.\n\ncurl -sS -X POST 'https://api.securevan.com/v4/people/create' \\\n  -u \"app-name:$NGP_API_KEY|1\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"firstName\": \"Imani\",\n    \"lastName\": \"Oyelaran\",\n    \"emails\": [\n      {\n        \"email\": \"imani.oyelaran@example.com\"\n      }\n    ]\n  }'\n# → 201  Location: https://api.securevan.com/v4/people/100000001\n# {\n#   \"vanId\": 100000001,\n#   \"status\": \"Stored\"\n# }\n\n# Update with a second address. The first is not replaced — the list grows.\n\ncurl -sS -X POST 'https://api.securevan.com/v4/people/100000001' \\\n  -u \"app-name:$NGP_API_KEY|1\" \\\n  -H 'Content-Type: application/json' \\\n  -d \"$PEOPLE_BODY\"\n# → 302  Location: https://api.securevan.com/v4/people/100000001\n# {\n#   \"vanId\": 100000001,\n#   \"status\": \"Matched\"\n# }\n\ncurl -sS -X GET 'https://api.securevan.com/v4/people/100000001?%24expand=emails' \\\n  -u \"app-name:$NGP_API_KEY|1\"\n# → 200\n# {\n#   \"vanId\": 100000001,\n#   \"firstName\": \"Imani\",\n#   \"lastName\": \"Oyelaran\",\n#   \"middleName\": null,\n#   \"suffix\": null,\n#   \"title\": null,\n#   \"sourceFileTitle\": null,\n#   \"sourceFileFirstName\": null,\n#   \"sourceFileMiddleName\": null,\n#   \"sourceFileLastName\": null,\n#   \"sourceFileSuffix\": null,\n#   \"contactSource\": \"API\",\n#   \"contactMode\": \"Person\",\n#   \"organizationContactCommonName\": null,\n#   \"organizationContactOfficialName\": null,\n#   \"salutation\": \"Imani\",\n#   \"formalSalutation\": \"Imani Oyelaran\",\n#   \"additionalSalutation\": null,\n#   \"preferredPronoun\": null,\n#   \"pronouns\": null,\n#   \"namePronunciation\": null,\n#   \"envelopeName\": \"Imani Oyelaran\",\n#   \"formalEnvelopeName\": \"Imani Oyelaran\",\n#   \"additionalEnvelopeName\": null,\n#   \"contactMethodPreferenceCode\": null,\n#   \"contactMethodPreferenceId\": null,\n#   \"contactMethodPreferenceName\": null,\n#   \"assistantName\": null,\n#   \"nickname\": null,\n#   \"website\": null,\n#   \"professionalSuffix\": null,\n#   \"party\": null,\n#   \"employer\": null,\n#   \"occupation\": null,\n#   \"jobTitle\": null,\n#   \"sex\": null,\n#   \"dateOfBirth\": null,\n#   \"isDeceased\": false,\n#   \"dateCreated\": \"2026-01-01T00:00:00Z\",\n#   \"dateAcquired\": \"0001-01-01T00:00:00Z\",\n#   \"selfReportedRace\": null,\n#   \"selfReportedEthnicity\": null,\n#   \"selfReportedRaces\": null,\n#   \"selfReportedEthnicities\": null,\n#   \"selfReportedGenders\": null,\n#   \"selfReportedSexualOrientations\": null,\n#   \"selfReportedLanguagePreference\": null,\n#   \"selfReportedLanguagePreferences\": null,\n#   \"emails\": [\n#     {\n#       \"type\": \"P\",\n#       \"email\": \"imani.oyelaran@example.com\",\n#       \"dateCreated\": \"2026-01-01T00:00:00Z\",\n#       \"isPreferred\": false,\n#       \"isSubscribed\": true,\n#       \"subscriptionStatus\": \"S\"\n#     },\n#     {\n#       \"type\": \"P\",\n#       \"email\": \"imani.o@example.org\",\n#       \"dateCreated\": \"2026-01-01T00:00:00Z\",\n#       \"isPreferred\": true,\n#       \"isSubscribed\": true,\n#       \"subscriptionStatus\": \"S\"\n#     }\n#   ],\n#   \"phones\": null,\n#   \"addresses\": null,\n#   \"recordedAddresses\": null,\n#   \"pollingLocation\": null,\n#   \"earlyVoteLocation\": null,\n#   \"identifiers\": null,\n#   \"codes\": null,\n#   \"customFields\": null,\n#   \"primaryCustomField\": null,\n#   \"contributionSummary\": null,\n#   \"suppressions\": null,\n#   \"caseworkCases\": null,\n#   \"caseworkIssues\": null,\n#   \"caseworkStories\": null,\n#   \"notes\": null,\n#   \"scores\": null,\n#   \"customProperties\": null,\n#   \"electionRecords\": null,\n#   \"membershipStatus\": null,\n#   \"organizationRoles\": null,\n#   \"districts\": null,\n#   \"surveyQuestionResponses\": null,\n#   \"finderNumber\": null,\n#   \"biographyImageUrl\": null,\n#   \"biographyText\": null,\n#   \"biographyHtml\": null,\n#   \"primaryContact\": null\n# }\n\n# Send the second address again, unchanged. Nothing is duplicated: still two\n# entries.\n\ncurl -sS -X POST 'https://api.securevan.com/v4/people/100000001' \\\n  -u \"app-name:$NGP_API_KEY|1\" \\\n  -H 'Content-Type: application/json' \\\n  -d \"$PEOPLE_BODY\"\n# → 302  Location: https://api.securevan.com/v4/people/100000001\n# {\n#   \"vanId\": 100000001,\n#   \"status\": \"Matched\"\n# }\n\ncurl -sS -X GET 'https://api.securevan.com/v4/people/100000001?%24expand=emails' \\\n  -u \"app-name:$NGP_API_KEY|1\"\n# → 200\n# {\n#   \"vanId\": 100000001,\n#   \"firstName\": \"Imani\",\n#   \"lastName\": \"Oyelaran\",\n#   \"middleName\": null,\n#   \"suffix\": null,\n#   \"title\": null,\n#   \"sourceFileTitle\": null,\n#   \"sourceFileFirstName\": null,\n#   \"sourceFileMiddleName\": null,\n#   \"sourceFileLastName\": null,\n#   \"sourceFileSuffix\": null,\n#   \"contactSource\": \"API\",\n#   \"contactMode\": \"Person\",\n#   \"organizationContactCommonName\": null,\n#   \"organizationContactOfficialName\": null,\n#   \"salutation\": \"Imani\",\n#   \"formalSalutation\": \"Imani Oyelaran\",\n#   \"additionalSalutation\": null,\n#   \"preferredPronoun\": null,\n#   \"pronouns\": null,\n#   \"namePronunciation\": null,\n#   \"envelopeName\": \"Imani Oyelaran\",\n#   \"formalEnvelopeName\": \"Imani Oyelaran\",\n#   \"additionalEnvelopeName\": null,\n#   \"contactMethodPreferenceCode\": null,\n#   \"contactMethodPreferenceId\": null,\n#   \"contactMethodPreferenceName\": null,\n#   \"assistantName\": null,\n#   \"nickname\": null,\n#   \"website\": null,\n#   \"professionalSuffix\": null,\n#   \"party\": null,\n#   \"employer\": null,\n#   \"occupation\": null,\n#   \"jobTitle\": null,\n#   \"sex\": null,\n#   \"dateOfBirth\": null,\n#   \"isDeceased\": false,\n#   \"dateCreated\": \"2026-01-01T00:00:00Z\",\n#   \"dateAcquired\": \"0001-01-01T00:00:00Z\",\n#   \"selfReportedRace\": null,\n#   \"selfReportedEthnicity\": null,\n#   \"selfReportedRaces\": null,\n#   \"selfReportedEthnicities\": null,\n#   \"selfReportedGenders\": null,\n#   \"selfReportedSexualOrientations\": null,\n#   \"selfReportedLanguagePreference\": null,\n#   \"selfReportedLanguagePreferences\": null,\n#   \"emails\": [\n#     {\n#       \"type\": \"P\",\n#       \"email\": \"imani.oyelaran@example.com\",\n#       \"dateCreated\": \"2026-01-01T00:00:00Z\",\n#       \"isPreferred\": false,\n#       \"isSubscribed\": true,\n#       \"subscriptionStatus\": \"S\"\n#     },\n#     {\n#       \"type\": \"P\",\n#       \"email\": \"imani.o@example.org\",\n#       \"dateCreated\": \"2026-01-01T00:00:00Z\",\n#       \"isPreferred\": true,\n#       \"isSubscribed\": true,\n#       \"subscriptionStatus\": \"S\"\n#     }\n#   ],\n#   \"phones\": null,\n#   \"addresses\": null,\n#   \"recordedAddresses\": null,\n#   \"pollingLocation\": null,\n#   \"earlyVoteLocation\": null,\n#   \"identifiers\": null,\n#   \"codes\": null,\n#   \"customFields\": null,\n#   \"primaryCustomField\": null,\n#   \"contributionSummary\": null,\n#   \"suppressions\": null,\n#   \"caseworkCases\": null,\n#   \"caseworkIssues\": null,\n#   \"caseworkStories\": null,\n#   \"notes\": null,\n#   \"scores\": null,\n#   \"customProperties\": null,\n#   \"electionRecords\": null,\n#   \"membershipStatus\": null,\n#   \"organizationRoles\": null,\n#   \"districts\": null,\n#   \"surveyQuestionResponses\": null,\n#   \"finderNumber\": null,\n#   \"biographyImageUrl\": null,\n#   \"biographyText\": null,\n#   \"biographyHtml\": null,\n#   \"primaryContact\": null\n# }",
            "x-transcript": "update-appends-contact-methods"
          },
          {
            "lang": "Shell",
            "label": "An empty body is a successful no-op; an unknown vanId is 404",
            "source": "# `{}` is accepted and answered with the same 302 as a real update, changing\n# nothing. The failure mode is the id, not the body: an unknown vanId\n# returns 404 whatever the payload says.\n\ncurl -sS -X POST 'https://api.securevan.com/v4/people/create' \\\n  -u \"app-name:$NGP_API_KEY|1\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"firstName\": \"Otis\",\n    \"lastName\": \"Renwick\"\n  }'\n# → 201  Location: https://api.securevan.com/v4/people/100000001\n# {\n#   \"vanId\": 100000001,\n#   \"status\": \"Stored\"\n# }\n\n# An update that updates nothing. Accepted all the same.\n\ncurl -sS -X POST 'https://api.securevan.com/v4/people/100000001' \\\n  -u \"app-name:$NGP_API_KEY|1\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{}\n  {}'\n# → 302  Location: https://api.securevan.com/v4/people/100000001\n# {\n#   \"vanId\": 100000001,\n#   \"status\": \"Matched\"\n# }\n\n# The record is untouched.\n\ncurl -sS -X GET 'https://api.securevan.com/v4/people/100000001' \\\n  -u \"app-name:$NGP_API_KEY|1\"\n# → 200\n# {\n#   \"vanId\": 100000001,\n#   \"firstName\": \"Otis\",\n#   \"lastName\": \"Renwick\",\n#   \"middleName\": null,\n#   \"suffix\": null,\n#   \"title\": null,\n#   \"sourceFileTitle\": null,\n#   \"sourceFileFirstName\": null,\n#   \"sourceFileMiddleName\": null,\n#   \"sourceFileLastName\": null,\n#   \"sourceFileSuffix\": null,\n#   \"contactSource\": \"API\",\n#   \"contactMode\": \"Person\",\n#   \"organizationContactCommonName\": null,\n#   \"organizationContactOfficialName\": null,\n#   \"salutation\": \"Otis\",\n#   \"formalSalutation\": \"Otis Renwick\",\n#   \"additionalSalutation\": null,\n#   \"preferredPronoun\": null,\n#   \"pronouns\": null,\n#   \"namePronunciation\": null,\n#   \"envelopeName\": \"Otis Renwick\",\n#   \"formalEnvelopeName\": \"Otis Renwick\",\n#   \"additionalEnvelopeName\": null,\n#   \"contactMethodPreferenceCode\": null,\n#   \"contactMethodPreferenceId\": null,\n#   \"contactMethodPreferenceName\": null,\n#   \"assistantName\": null,\n#   \"nickname\": null,\n#   \"website\": null,\n#   \"professionalSuffix\": null,\n#   \"party\": null,\n#   \"employer\": null,\n#   \"occupation\": null,\n#   \"jobTitle\": null,\n#   \"sex\": null,\n#   \"dateOfBirth\": null,\n#   \"isDeceased\": false,\n#   \"dateCreated\": \"2026-01-01T00:00:00Z\",\n#   \"dateAcquired\": \"0001-01-01T00:00:00Z\",\n#   \"selfReportedRace\": null,\n#   \"selfReportedEthnicity\": null,\n#   \"selfReportedRaces\": null,\n#   \"selfReportedEthnicities\": null,\n#   \"selfReportedGenders\": null,\n#   \"selfReportedSexualOrientations\": null,\n#   \"selfReportedLanguagePreference\": null,\n#   \"selfReportedLanguagePreferences\": null,\n#   \"emails\": null,\n#   \"phones\": null,\n#   \"addresses\": null,\n#   \"recordedAddresses\": null,\n#   \"pollingLocation\": null,\n#   \"earlyVoteLocation\": null,\n#   \"identifiers\": null,\n#   \"codes\": null,\n#   \"customFields\": null,\n#   \"primaryCustomField\": null,\n#   \"contributionSummary\": null,\n#   \"suppressions\": null,\n#   \"caseworkCases\": null,\n#   \"caseworkIssues\": null,\n#   \"caseworkStories\": null,\n#   \"notes\": null,\n#   \"scores\": null,\n#   \"customProperties\": null,\n#   \"electionRecords\": null,\n#   \"membershipStatus\": null,\n#   \"organizationRoles\": null,\n#   \"districts\": null,\n#   \"surveyQuestionResponses\": null,\n#   \"finderNumber\": null,\n#   \"biographyImageUrl\": null,\n#   \"biographyText\": null,\n#   \"biographyHtml\": null,\n#   \"primaryContact\": null\n# }\n\n# A perfectly good payload aimed at an id nobody has: 404.\n\ncurl -sS -X POST 'https://api.securevan.com/v4/people/2147483646' \\\n  -u \"app-name:$NGP_API_KEY|1\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"firstName\": \"Nobody\"\n  }'\n# → 404\n# {\n#   \"errors\": [\n#     {\n#       \"code\": \"NOT_FOUND\",\n#       \"text\": \"The specified resource cannot be found.\"\n#     }\n#   ]\n# }",
            "x-transcript": "update-empty-body-is-accepted-and-unknown-ids-404"
          },
          {
            "lang": "Shell",
            "label": "An update merges the payload and answers 302 with a match stub",
            "source": "# The payload is merged into the record: fields in the body are overwritten,\n# fields left out keep their values. The response is a 302 whose Location\n# points back at the person and whose body is the same match stub find\n# returns — not the updated person.\n\n# A person whose first name is about to change.\n\ncurl -sS -X POST 'https://api.securevan.com/v4/people/create' \\\n  -u \"app-name:$NGP_API_KEY|1\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"firstName\": \"Corazon\",\n    \"lastName\": \"Ellsworth\"\n  }'\n# → 201  Location: https://api.securevan.com/v4/people/100000001\n# {\n#   \"vanId\": 100000001,\n#   \"status\": \"Stored\"\n# }\n\n# Send only the new first name.\n\ncurl -sS -X POST 'https://api.securevan.com/v4/people/100000001' \\\n  -u \"app-name:$NGP_API_KEY|1\" \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"firstName\": \"Cora\"\n  }'\n# → 302  Location: https://api.securevan.com/v4/people/100000001\n# {\n#   \"vanId\": 100000001,\n#   \"status\": \"Matched\"\n# }\n\n# The first name changed; the last name, absent from the body, survived.\n\ncurl -sS -X GET 'https://api.securevan.com/v4/people/100000001' \\\n  -u \"app-name:$NGP_API_KEY|1\"\n# → 200\n# {\n#   \"vanId\": 100000001,\n#   \"firstName\": \"Cora\",\n#   \"lastName\": \"Ellsworth\",\n#   \"middleName\": null,\n#   \"suffix\": null,\n#   \"title\": null,\n#   \"sourceFileTitle\": null,\n#   \"sourceFileFirstName\": null,\n#   \"sourceFileMiddleName\": null,\n#   \"sourceFileLastName\": null,\n#   \"sourceFileSuffix\": null,\n#   \"contactSource\": \"API\",\n#   \"contactMode\": \"Person\",\n#   \"organizationContactCommonName\": null,\n#   \"organizationContactOfficialName\": null,\n#   \"salutation\": \"Cora\",\n#   \"formalSalutation\": \"Cora Ellsworth\",\n#   \"additionalSalutation\": null,\n#   \"preferredPronoun\": null,\n#   \"pronouns\": null,\n#   \"namePronunciation\": null,\n#   \"envelopeName\": \"Cora Ellsworth\",\n#   \"formalEnvelopeName\": \"Cora Ellsworth\",\n#   \"additionalEnvelopeName\": null,\n#   \"contactMethodPreferenceCode\": null,\n#   \"contactMethodPreferenceId\": null,\n#   \"contactMethodPreferenceName\": null,\n#   \"assistantName\": null,\n#   \"nickname\": null,\n#   \"website\": null,\n#   \"professionalSuffix\": null,\n#   \"party\": null,\n#   \"employer\": null,\n#   \"occupation\": null,\n#   \"jobTitle\": null,\n#   \"sex\": null,\n#   \"dateOfBirth\": null,\n#   \"isDeceased\": false,\n#   \"dateCreated\": \"2026-01-01T00:00:00Z\",\n#   \"dateAcquired\": \"0001-01-01T00:00:00Z\",\n#   \"selfReportedRace\": null,\n#   \"selfReportedEthnicity\": null,\n#   \"selfReportedRaces\": null,\n#   \"selfReportedEthnicities\": null,\n#   \"selfReportedGenders\": null,\n#   \"selfReportedSexualOrientations\": null,\n#   \"selfReportedLanguagePreference\": null,\n#   \"selfReportedLanguagePreferences\": null,\n#   \"emails\": null,\n#   \"phones\": null,\n#   \"addresses\": null,\n#   \"recordedAddresses\": null,\n#   \"pollingLocation\": null,\n#   \"earlyVoteLocation\": null,\n#   \"identifiers\": null,\n#   \"codes\": null,\n#   \"customFields\": null,\n#   \"primaryCustomField\": null,\n#   \"contributionSummary\": null,\n#   \"suppressions\": null,\n#   \"caseworkCases\": null,\n#   \"caseworkIssues\": null,\n#   \"caseworkStories\": null,\n#   \"notes\": null,\n#   \"scores\": null,\n#   \"customProperties\": null,\n#   \"electionRecords\": null,\n#   \"membershipStatus\": null,\n#   \"organizationRoles\": null,\n#   \"districts\": null,\n#   \"surveyQuestionResponses\": null,\n#   \"finderNumber\": null,\n#   \"biographyImageUrl\": null,\n#   \"biographyText\": null,\n#   \"biographyHtml\": null,\n#   \"primaryContact\": null\n# }",
            "x-transcript": "update-merges-fields-and-answers-with-a-stub"
          }
        ]
      }
    },
    "/people": {
      "get": {
        "operationId": "searchPeople",
        "summary": "Search for people",
        "description": "Searches for people matching the given criteria and returns full person records in the standard pagination envelope. At least one search parameter must be set: firstName, lastName, middleName, streetAddress, city, stateOrProvince, zipOrPostalCode, phoneNumber, email, commonName, or officialName. A request with none of these — even one with filter or paging parameters set — returns 400 INVALID_PARAMETER with the text \"This endpoint requires at least one search parameter to be set.\" Text criteria are case-insensitive prefix matches: lastName=Testpers matches \"Testperson\", lastName=estperson does not. Related collections on the returned person records are null unless requested via $expand.\n\n**This is the endpoint to use when you only have loose criteria.** Unlike POST /people/find and POST /people/findOrCreate — which refuse to attempt a match until you supply one of a handful of minimum field combinations, and answer Unmatched (or create a duplicate) when you cannot — this search has no such threshold. A single name is a perfectly valid query. In exchange it makes no identity claim: it hands back every person whose fields start with what you typed, and deciding which one is your person, or that none of them is, is your job. Inspect the candidates (with $expand for addresses, emails and phones if you need them) and take the vanId from there.",
        "x-provenance": {
          "source": "van-cli people.ts (list command) plus live sandbox probing; the endpoint is absent from the official docs' page index (llms.txt lists only /people/find).",
          "lastProbed": "2026-08-04"
        },
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "firstName",
            "in": "query",
            "description": "First name. Case-insensitive prefix match.",
            "schema": {
              "type": "string"
            },
            "example": "Ada"
          },
          {
            "name": "lastName",
            "in": "query",
            "description": "Last name. Case-insensitive prefix match.",
            "schema": {
              "type": "string"
            },
            "example": "Testperson"
          },
          {
            "name": "middleName",
            "in": "query",
            "description": "Middle name.",
            "schema": {
              "type": "string"
            },
            "example": "Marie"
          },
          {
            "name": "streetAddress",
            "in": "query",
            "description": "Street address, matched as a case-insensitive prefix — but only against the person's **Voting (home) address**, as are `city`, `stateOrProvince` and `zipOrPostalCode`. All four read the single address VAN files as Voting; Work and Custom addresses are not indexed at all, and a Mailing address is only reachable when the person has no separate Voting address (VAN then serves the mailing one under both types, and it becomes findable). So a person can hold an address and still not be findable by it.\n\nThe comparison also runs against the *standardized* form VAN stored rather than the text that was written: a person created with `1000 W 5th Ave` is found by `1000 5Th Ave Mall` and **not** by `1000 W 5th Ave`.\n\nPOST /people/find has neither limitation — it matches every address type, including the Work and Custom addresses that $expand=addresses never shows.",
            "x-provenance": {
              "source": "sandbox probe",
              "lastProbed": "2026-08-06",
              "note": "Probed on a person carrying four addresses (Home, Work, Mailing, Custom): only the Home/Voting one was findable here, and only under its standardized form, while POST /people/find matched all four. Calibrated while re-testing what PUT /people/{vanId}/mergeInto does to addresses, where this parameter had been used as an instrument and produced a false negative. Re-probed 2026-08-06 with single-address people: a Mailing-only person reads back with that address listed under both Voting and Mailing (same addressId) and is findable by streetAddress/city/state/zip; a Work-only person is findable by none of them."
            },
            "schema": {
              "type": "string"
            },
            "example": "123 Test St"
          },
          {
            "name": "city",
            "in": "query",
            "description": "City, matched as a case-insensitive prefix (`anchor` finds Anchorage; `nchorage` finds nothing). Like `streetAddress`, it reads the **Voting (home) address only** — a person whose mailing or work address sits in a different city is not returned for that city — and it compares against the city VAN standardized at write time, which is not always the one that was written.",
            "x-provenance": {
              "source": "sandbox probe",
              "lastProbed": "2026-08-06",
              "note": "Probe person with Voting=Anchorage AK, Mailing=Seattle WA, Work=Portland OR, Custom=Sacramento CA: found by Anchorage only. Prefix and case behavior probed with anchor/ANCHORAGE/nchorage."
            },
            "schema": {
              "type": "string"
            },
            "example": "Anchorage"
          },
          {
            "name": "stateOrProvince",
            "in": "query",
            "description": "State or province, as the two/three character code — case-insensitive but **not** a prefix match and not the spelled-out name: `AK` and `ak` match, `A` and `Alaska` return nothing. Like `streetAddress`, it reads the **Voting (home) address only**.",
            "x-provenance": {
              "source": "sandbox probe",
              "lastProbed": "2026-08-06",
              "note": "Same four-address probe person (Voting AK, Mailing WA, Work OR, Custom CA): found by AK/ak only; WA, OR, CA, A and Alaska all returned 0."
            },
            "schema": {
              "type": "string"
            },
            "example": "AK"
          },
          {
            "name": "zipOrPostalCode",
            "in": "query",
            "description": "ZIP or postal code. Like `streetAddress`, this matches the **Voting (home) address only** — a person whose mailing address sits in a different ZIP is not returned for that ZIP.\n\nThe value is validated as a postal code (`995` and `995012357` both return 400 INVALID_PARAMETER \"is not a valid Postal Code for UsaAndInternational\"), and only the 5-digit form matches: a person whose stored ZIP is `99501-2357` is found by `99501` and not by `99501-2357`, which is accepted but returns nothing.",
            "x-provenance": {
              "source": "sandbox probe",
              "lastProbed": "2026-08-06",
              "note": "The four-address probe person was found by its home ZIP 99501 and not by its mailing ZIP 99503; re-probed with Voting 99501 / Mailing 98101 / Work 97201 / Custom 95814 to the same effect. ZIP+4 and unpunctuated-9-digit forms tested against a person whose address standardized to 99501-2357."
            },
            "schema": {
              "type": "string"
            },
            "example": "99501"
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "description": "Phone number. **Send bare 10 digits — `9072223333`.** Anything else silently finds nothing: the comparison is against the stored 10-digit string, so `(907) 222-3333`, `907-222-3333` and the `1`-prefixed `19072223333` are all *accepted* and then match no one. (Validation is laxer than matching: non-numeric characters are stripped before the value is checked against `^1?[2-9][0-8]\\d[2-9]\\d{6,6}$`, which is why the formatted forms get through. Failing that regex returns 400 INVALID_PARAMETER with it in the hint.)\n\nThis checks **one number per person**: the number VAN flags `isBest` (the first entry `$expand=phones` returns). A person holding home, work, cell and fax numbers is findable only by whichever one is best — for that person the cell — even though the others are on the person record and POST /people/find matches them. A person can also have **no** best number — when every number on it is a work, other or fax number and none was written `isPreferred` — and such a person cannot be found through this parameter at all. See `PersonPhone.isBest` for how the best number is picked.",
            "x-provenance": {
              "source": "sandbox probe",
              "lastProbed": "2026-08-06",
              "note": "Person with four phones (H 9072223333, W 9073334444, C 9074445555, F 9075556666): only 9074445555 — the isBest/cell one — was findable. Confirmed on three further people that the isBest phone is always the matching one, including a home-only person (isBest home, findable) and a cell+explicitly-preferred-home person (findable by the home number, not the cell). isPreferred is not required: the four-phone person had no preferred phone. The no-best case was probed 2026-08-06: work-only, other-only and Personal/fax-only people each returned an empty items array for their own number, while an otherwise identical work-only person whose number was written with isPreferred:true was found."
            },
            "schema": {
              "type": "string",
              "pattern": "^1?[2-9][0-8]\\d[2-9]\\d{6,6}$"
            },
            "example": "9075550142"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Email address. Case-insensitive prefix match, checked against **all** of the person's email addresses, not just the preferred one. Prefix means from the start of the address: `probe.charlie` finds `probe.charlie@example.com`, `charlie@example.com` does not.",
            "x-provenance": {
              "source": "sandbox probe",
              "lastProbed": "2026-08-06",
              "note": "Person with three emails (personal/work/other, the second flagged preferred): all three matched in full, uppercased, and by leading prefix; a mid-string substring did not."
            },
            "schema": {
              "type": "string"
            },
            "example": "ada.testperson@example.com"
          },
          {
            "name": "commonName",
            "in": "query",
            "description": "Organization common name.",
            "schema": {
              "type": "string"
            },
            "example": "Acme Corp"
          },
          {
            "name": "officialName",
            "in": "query",
            "description": "Organization official name.",
            "schema": {
              "type": "string"
            },
            "example": "Acme Corporation"
          },
          {
            "name": "contactMode",
            "in": "query",
            "description": "Filters the results to Person or Organization contacts. Does not count toward the at-least-one-search-parameter requirement, and any other value is ignored rather than rejected.",
            "schema": {
              "type": "string",
              "enum": [
                "Person",
                "Organization"
              ]
            },
            "example": "Person"
          },
          {
            "name": "employer",
            "in": "query",
            "description": "Accepted but has no effect on the results, and does not count toward the at-least-one-search-parameter requirement.",
            "schema": {
              "type": "string"
            },
            "example": "Acme Corp",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "Listed as a search criterion in van-cli people.ts, but adding it to a lastName search never changed the result count, even for values matching no one. Only My Campaign was probed."
            }
          },
          {
            "name": "occupation",
            "in": "query",
            "description": "Accepted but has no effect on the results, and does not count toward the at-least-one-search-parameter requirement.",
            "schema": {
              "type": "string"
            },
            "example": "Engineer",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "Listed as a search criterion in van-cli people.ts, but adding it to a lastName search never changed the result count, even for values matching no one. Only My Campaign was probed."
            }
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "description": "Accepted but has no effect on the results, and does not count toward the at-least-one-search-parameter requirement. Even an unparseable value is accepted and ignored.",
            "schema": {
              "type": "string"
            },
            "example": "1980-01-15",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "Listed as a search criterion in van-cli people.ts, but adding it to a lastName search never changed the result count, even for values matching no one. Only My Campaign was probed."
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Limits the number of results per page. Default 50, maximum 200; 0 and negative values return 400.",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "van-cli caps this at 50 client-side with a comment that VAN limits people search to 50, but the API's own INVALID_PARAMETER hint states default 50 / maximum 200, and $top=200 was accepted live."
            },
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 200
            },
            "example": 50
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of results to skip. Negative values return 400.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 0
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sort expression. The only sortable property is Name; \"Name desc\" sorts descending. Any other property returns 400 INVALID_PARAMETER with the hint \"The only valid orderby property is: 'Name'\".",
            "schema": {
              "type": "string"
            },
            "example": "Name"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Related sections to include, comma-delimited and case-insensitive eg 'addresses,emails' — a much smaller set than GET /people/{vanId} accepts. The API's hint also lists pollingLocation, but requesting it is then refused with 400 BAD_REQUEST \"May not request 'pollingLocation' in this context\", alone or combined, so the usable set is the four below. Anything outside the hinted set returns 400 INVALID_PARAMETER. Expanded collections come back as empty arrays when absent; unexpanded sections stay null.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "addresses",
                  "emails",
                  "phones",
                  "districts"
                ]
              }
            },
            "example": [
              "emails",
              "phones",
              "addresses",
              "districts"
            ],
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "pollingLocation was rejected in My Campaign mode (the only mode the sandbox key can reach); it may be expandable in My Voters mode, which is what the hint presumably describes."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of matching people.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonList"
                },
                "examples": {
                  "First of Many Pages (with $expand)": {
                    "description": "lastName=Testperson&$top=1&$orderby=Name desc&$expand=emails,phones,addresses,districts (item abridged: null-only fields, sandbox fuzz noise, and the duplicate Mailing copy of the address omitted — see GET /people/{vanId} for that quirk)",
                    "value": {
                      "items": [
                        {
                          "vanId": 102715285,
                          "firstName": "Grace",
                          "lastName": "Testperson",
                          "contactSource": "API",
                          "contactMode": "Person",
                          "sex": "M",
                          "dateOfBirth": "2000-01-01T00:00:00Z",
                          "isDeceased": false,
                          "partialDateOfBirth": {
                            "month": 1,
                            "day": 1,
                            "year": 2000
                          },
                          "dateCreated": "2026-08-04T12:16:00Z",
                          "dateAcquired": "0001-01-01T00:00:00Z",
                          "emails": [
                            {
                              "type": "W",
                              "email": "grace.testperson@example.com",
                              "dateCreated": "2026-08-04T12:16:00Z",
                              "isPreferred": true,
                              "isSubscribed": true,
                              "subscriptionStatus": "S"
                            }
                          ],
                          "phones": [
                            {
                              "phoneId": 1021654,
                              "phoneNumber": "9075550142",
                              "dialingPrefix": "1",
                              "countryCode": "US",
                              "ext": "123",
                              "dateCreated": "2026-08-04T12:25:00Z",
                              "phoneType": "Personal",
                              "deviceType": "Cell",
                              "isPreferred": true,
                              "isBest": true,
                              "isDisclosure": true,
                              "smsOptInStatus": "Opt-In",
                              "phoneOptInStatus": "Opt-In",
                              "isCellPhoneExchange": false,
                              "isCellStatus": null,
                              "tags": null
                            }
                          ],
                          "addresses": [
                            {
                              "addressId": 1206622,
                              "addressLine1": "123 Test St",
                              "addressLine2": "Apt 4",
                              "city": "Anchorage",
                              "stateOrProvince": "AK",
                              "zipOrPostalCode": "99501",
                              "countryCode": "US",
                              "preview": "123 Test St Apt 4",
                              "type": "Voting",
                              "isPreferred": true,
                              "isBest": true,
                              "displayMode": "Standardized"
                            },
                            {
                              "addressId": 1206622,
                              "addressLine1": "123 Test St",
                              "addressLine2": "Apt 4",
                              "city": "Anchorage",
                              "stateOrProvince": "AK",
                              "zipOrPostalCode": "99501",
                              "countryCode": "US",
                              "preview": "123 Test St Apt 4",
                              "type": "Mailing",
                              "isPreferred": true,
                              "isBest": true,
                              "displayMode": "Standardized"
                            }
                          ],
                          "districts": [
                            {
                              "districtFieldId": 0,
                              "name": "County",
                              "parentFieldId": null,
                              "isCustomDistrict": false,
                              "districtFieldValues": [
                                {
                                  "id": "020",
                                  "name": "Anchorage",
                                  "parentId": null
                                }
                              ]
                            },
                            {
                              "districtFieldId": 0,
                              "name": "State",
                              "parentFieldId": null,
                              "isCustomDistrict": false,
                              "districtFieldValues": [
                                {
                                  "id": "AK",
                                  "name": "Alaska",
                                  "parentId": null
                                }
                              ]
                            }
                          ],
                          "pollingLocation": null,
                          "scores": null
                        }
                      ],
                      "nextPageLink": "https://api.securevan.com:443/v4/people?lastName=Testperson&$top=1&$orderby=Name%20desc&$expand=emails%2Cphones%2Caddresses%2Cdistricts&$skip=1",
                      "count": 131
                    }
                  },
                  "No Matches": {
                    "value": {
                      "items": [],
                      "nextPageLink": null,
                      "count": 0
                    }
                  },
                  "First of Many Pages (no $expand)": {
                    "description": "First of 120 matches for lastName=Testperson with $top=1 (item abridged: null-only fields omitted)",
                    "value": {
                      "items": [
                        {
                          "vanId": 102714808,
                          "firstName": null,
                          "lastName": "Testperson",
                          "contactSource": "API",
                          "contactMode": "Person",
                          "isDeceased": false,
                          "dateCreated": "2026-08-03T17:31:00Z",
                          "dateAcquired": "0001-01-01T00:00:00Z",
                          "emails": null,
                          "phones": null,
                          "addresses": null
                        }
                      ],
                      "nextPageLink": "https://api.securevan.com:443/v4/people?lastName=Testperson&$top=1&$skip=1",
                      "count": 120
                    }
                  },
                  "search-is-a-case-insensitive-prefix-match/1": {
                    "summary": "A lowercase prefix of the first name is enough.",
                    "description": "Matching runs from the start of the field, ignoring case: `wilhel` finds Wilhelmina, `helmina` finds nothing. Hits come back as full person records in the pagination envelope, with collections null unless $expand asks for them.",
                    "x-transcript": "search-is-a-case-insensitive-prefix-match",
                    "value": {
                      "items": [
                        {
                          "vanId": 100000001,
                          "firstName": "Wilhelmina",
                          "lastName": "Prefixling",
                          "middleName": null,
                          "suffix": null,
                          "title": null,
                          "sourceFileTitle": null,
                          "sourceFileFirstName": null,
                          "sourceFileMiddleName": null,
                          "sourceFileLastName": null,
                          "sourceFileSuffix": null,
                          "contactSource": "API",
                          "contactMode": "Person",
                          "organizationContactCommonName": null,
                          "organizationContactOfficialName": null,
                          "salutation": null,
                          "formalSalutation": null,
                          "additionalSalutation": null,
                          "preferredPronoun": null,
                          "pronouns": null,
                          "namePronunciation": null,
                          "envelopeName": null,
                          "formalEnvelopeName": null,
                          "additionalEnvelopeName": null,
                          "contactMethodPreferenceCode": null,
                          "contactMethodPreferenceId": null,
                          "contactMethodPreferenceName": null,
                          "assistantName": null,
                          "nickname": null,
                          "website": null,
                          "professionalSuffix": null,
                          "party": null,
                          "employer": null,
                          "occupation": null,
                          "jobTitle": null,
                          "sex": null,
                          "dateOfBirth": null,
                          "isDeceased": false,
                          "dateCreated": "2026-01-01T00:00:00Z",
                          "dateAcquired": "0001-01-01T00:00:00Z",
                          "selfReportedRace": null,
                          "selfReportedEthnicity": null,
                          "selfReportedRaces": null,
                          "selfReportedEthnicities": null,
                          "selfReportedGenders": null,
                          "selfReportedSexualOrientations": null,
                          "selfReportedLanguagePreference": null,
                          "selfReportedLanguagePreferences": null,
                          "emails": null,
                          "phones": null,
                          "addresses": null,
                          "recordedAddresses": null,
                          "pollingLocation": null,
                          "earlyVoteLocation": null,
                          "identifiers": null,
                          "codes": null,
                          "customFields": null,
                          "primaryCustomField": null,
                          "contributionSummary": null,
                          "suppressions": null,
                          "caseworkCases": null,
                          "caseworkIssues": null,
                          "caseworkStories": null,
                          "notes": null,
                          "scores": null,
                          "customProperties": null,
                          "electionRecords": null,
                          "membershipStatus": null,
                          "organizationRoles": null,
                          "districts": null,
                          "surveyQuestionResponses": null,
                          "finderNumber": null,
                          "biographyImageUrl": null,
                          "biographyText": null,
                          "biographyHtml": null,
                          "primaryContact": null
                        }
                      ],
                      "nextPageLink": null,
                      "count": 1
                    }
                  },
                  "search-is-a-case-insensitive-prefix-match/2": {
                    "summary": "The same characters from the middle of the name match nothing: prefix, not contains.",
                    "description": "Matching runs from the start of the field, ignoring case: `wilhel` finds Wilhelmina, `helmina` finds nothing. Hits come back as full person records in the pagination envelope, with collections null unless $expand asks for them.",
                    "x-transcript": "search-is-a-case-insensitive-prefix-match",
                    "value": {
                      "items": [],
                      "nextPageLink": null,
                      "count": 0
                    }
                  },
                  "search-phone-must-be-bare-digits/1": {
                    "summary": "Bare 10 digits: found.",
                    "description": "The comparison is against the stored 10-digit string, so `(907) 555-0137` is accepted as valid input and then silently matches no one. There is no error to catch — a formatted number just looks like a person who is not there.",
                    "x-transcript": "search-phone-must-be-bare-digits",
                    "value": {
                      "items": [
                        {
                          "vanId": 100000001,
                          "firstName": "Dashiell",
                          "lastName": "Dialtest",
                          "middleName": null,
                          "suffix": null,
                          "title": null,
                          "sourceFileTitle": null,
                          "sourceFileFirstName": null,
                          "sourceFileMiddleName": null,
                          "sourceFileLastName": null,
                          "sourceFileSuffix": null,
                          "contactSource": "API",
                          "contactMode": "Person",
                          "organizationContactCommonName": null,
                          "organizationContactOfficialName": null,
                          "salutation": null,
                          "formalSalutation": null,
                          "additionalSalutation": null,
                          "preferredPronoun": null,
                          "pronouns": null,
                          "namePronunciation": null,
                          "envelopeName": null,
                          "formalEnvelopeName": null,
                          "additionalEnvelopeName": null,
                          "contactMethodPreferenceCode": null,
                          "contactMethodPreferenceId": null,
                          "contactMethodPreferenceName": null,
                          "assistantName": null,
                          "nickname": null,
                          "website": null,
                          "professionalSuffix": null,
                          "party": null,
                          "employer": null,
                          "occupation": null,
                          "jobTitle": null,
                          "sex": null,
                          "dateOfBirth": null,
                          "isDeceased": false,
                          "dateCreated": "2026-01-01T00:00:00Z",
                          "dateAcquired": "0001-01-01T00:00:00Z",
                          "selfReportedRace": null,
                          "selfReportedEthnicity": null,
                          "selfReportedRaces": null,
                          "selfReportedEthnicities": null,
                          "selfReportedGenders": null,
                          "selfReportedSexualOrientations": null,
                          "selfReportedLanguagePreference": null,
                          "selfReportedLanguagePreferences": null,
                          "emails": null,
                          "phones": null,
                          "addresses": null,
                          "recordedAddresses": null,
                          "pollingLocation": null,
                          "earlyVoteLocation": null,
                          "identifiers": null,
                          "codes": null,
                          "customFields": null,
                          "primaryCustomField": null,
                          "contributionSummary": null,
                          "suppressions": null,
                          "caseworkCases": null,
                          "caseworkIssues": null,
                          "caseworkStories": null,
                          "notes": null,
                          "scores": null,
                          "customProperties": null,
                          "electionRecords": null,
                          "membershipStatus": null,
                          "organizationRoles": null,
                          "districts": null,
                          "surveyQuestionResponses": null,
                          "finderNumber": null,
                          "biographyImageUrl": null,
                          "biographyText": null,
                          "biographyHtml": null,
                          "primaryContact": null
                        }
                      ],
                      "nextPageLink": null,
                      "count": 1
                    }
                  },
                  "search-phone-must-be-bare-digits/2": {
                    "summary": "The same number formatted: accepted, no error — and no results.",
                    "description": "The comparison is against the stored 10-digit string, so `(907) 555-0137` is accepted as valid input and then silently matches no one. There is no error to catch — a formatted number just looks like a person who is not there.",
                    "x-transcript": "search-phone-must-be-bare-digits",
                    "value": {
                      "items": [],
                      "nextPageLink": null,
                      "count": 0
                    }
                  }
                }
              }
            },
            "links": {
              "getFirstPerson": {
                "operationId": "getPerson",
                "parameters": {
                  "vanId": "$response.body#/items/0/vanId"
                },
                "description": "Fetch the first matching person's full record (e.g. with the larger $expand set that getPerson accepts)."
              }
            }
          },
          "400": {
            "description": "Validation error. Most are INVALID_PARAMETER and name the offending query parameter in `properties`; the no-search-parameter case names the pseudo-property \"All Arguments\", and refusing an out-of-context $expand section uses code BAD_REQUEST with no `properties` or `hint` at all.",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "All five examples are verbatim sandbox responses (My Campaign mode)."
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "noSearchParameter": {
                    "summary": "No search parameter set (here: only $top)",
                    "value": {
                      "errors": [
                        {
                          "code": "INVALID_PARAMETER",
                          "text": "This endpoint requires at least one search parameter to be set.",
                          "properties": [
                            "All Arguments"
                          ]
                        }
                      ]
                    }
                  },
                  "invalidPhoneNumber": {
                    "summary": "phoneNumber=555",
                    "value": {
                      "errors": [
                        {
                          "code": "INVALID_PARAMETER",
                          "text": "'phoneNumber' (555) is not a valid phone number for NorthAmerica",
                          "properties": [
                            "phoneNumber"
                          ],
                          "hint": "After non-numeric characters are removed, value must match the regular expression: ^1?[2-9][0-8]\\d[2-9]\\d{6,6}$"
                        }
                      ]
                    }
                  },
                  "invalidOrderby": {
                    "summary": "$orderby=lastName — only Name is sortable",
                    "value": {
                      "errors": [
                        {
                          "code": "INVALID_PARAMETER",
                          "text": "'lastName' is not a valid argument for the '$orderby' parameter",
                          "properties": [
                            "$orderby"
                          ],
                          "hint": "The only valid orderby property is: 'Name'"
                        }
                      ]
                    }
                  },
                  "invalidExpand": {
                    "summary": "$expand=scores — valid on GET /people/{vanId}, not here",
                    "value": {
                      "errors": [
                        {
                          "code": "INVALID_PARAMETER",
                          "text": "'scores' is not a valid argument for the '$expand' parameter",
                          "properties": [
                            "$expand"
                          ],
                          "hint": "The only valid expand sections are: 'Addresses', 'Emails', 'Phones', 'Districts', 'PollingLocation'"
                        }
                      ]
                    }
                  },
                  "expandNotAllowedInContext": {
                    "summary": "$expand=pollingLocation — listed in the hint above, but refused in My Campaign mode",
                    "value": {
                      "errors": [
                        {
                          "code": "BAD_REQUEST",
                          "text": "May not request 'pollingLocation' in this context"
                        }
                      ]
                    }
                  },
                  "search-requires-a-search-parameter/1": {
                    "summary": "Paging alone is not a search.",
[...]
