{
  "openapi": "3.1.0",
  "info": {
    "title": "NGP VAN API (community OpenAPI spec)",
    "version": "0.1.0",
    "description": "Community-maintained OpenAPI spec for the NGP VAN API, reverse-engineered from https://docs.ngpvan.com, the NGPVAN/van-cli source, and live probing of the sandbox API. The spec describes the API's actual behavior as observed. Where that behavior deviates from the official docs, the comparison is recorded out of band in `x-docs-discrepancy` fields (hidden by most documentation renderers) and summarized in [DISCREPANCIES.md](https://github.com/NickCrews/van-openapi/blob/main/DISCREPANCIES.md); research evidence and confidence notes live in `x-provenance` fields.\n\nSource repository: https://github.com/NickCrews/van-openapi — file issues and corrections there. This spec is not published or endorsed by NGP VAN; for questions about the API itself, contact APIDevelopers@ngpvan.com.\n\nSee [STATUS.md](https://github.com/NickCrews/van-openapi/blob/main/STATUS.md) for per-endpoint research status.\n\n**The API is not callable from a browser.** Its CORS support is incomplete: `api.securevan.com` answers the preflight correctly — reflecting the request origin and allowing the `Authorization` header — but omits `Access-Control-Allow-Origin` from the actual response (observed 2026-08-03; a `200` comes back with no `access-control-*` headers at all). A browser therefore sends the request, receives the response, and then blocks the page from reading it. `Access-Control-Allow-Credentials` is missing as well, which Basic auth would separately require. This affects only browser-based callers; server-side clients such as cURL, Python, or Apps Script are unaffected, since CORS is enforced by the browser rather than the server.",
    "contact": {
      "name": "van-openapi on GitHub",
      "url": "https://github.com/NickCrews/van-openapi"
    }
  },
  "externalDocs": {
    "description": "Source repository (NickCrews/van-openapi)",
    "url": "https://github.com/NickCrews/van-openapi"
  },
  "servers": [
    {
      "url": "https://api.securevan.com/v4",
      "description": "Production / sandbox (the API key determines the committee and database)"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "People",
      "description": "Look up, search, create and update people — the contacts and voters that most of the API hangs off."
    },
    {
      "name": "Survey Questions",
      "description": "Survey questions and the canned responses canvassers can record against them."
    },
    {
      "name": "Echoes",
      "description": "Test endpoint for checking auth and connectivity. Writes nothing."
    }
  ],
  "paths": {
    "/people/{vanId}": {
      "get": {
        "operationId": "getPerson",
        "summary": "Get a person by VAN id",
        "description": "Retrieves a person record. Related collections (emails, phones, addresses, …) are null unless requested via $expand, and empty arrays when expanded but absent. An unknown, zero, or negative vanId returns the standard 404 error envelope; a non-integer path segment does not match the route and returns an HTML 404 page instead.",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "vanId",
            "in": "path",
            "required": true,
            "description": "VAN id of the person.",
            "x-docs-discrepancy": "Official docs type this path parameter as string (default \"100476252\"); the route only matches integers — a non-integer segment returns an IIS HTML 404 page (observed 2026-08-03).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            },
            "example": 102714507
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Related sections to include, comma-delimited eg 'addresses,emails'. Anything outside this set returns 400 INVALID_PARAMETER with a hint listing the valid values. Two sections in the set are still refused in a My Campaign context: `scores` with 403 FORBIDDEN and `pollingLocation` with 400 BAD_REQUEST.",
            "x-docs-discrepancy": "Official docs list only 10 valid $expand values; the API's own INVALID_PARAMETER hint (observed 2026-08-03) lists these 23.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "addresses",
                  "biography",
                  "cases",
                  "codes",
                  "contributionHistory",
                  "customFields",
                  "customProperties",
                  "disclosureFieldValues",
                  "districts",
                  "electionRecords",
                  "emails",
                  "externalIds",
                  "membershipStatuses",
                  "notes",
                  "organizationRoles",
                  "phones",
                  "pollingLocation",
                  "preferences",
                  "primaryContact",
                  "recordedAddresses",
                  "reportedDemographics",
                  "scores",
                  "suppressions"
                ]
              }
            },
            "example": [
              "emails",
              "phones",
              "addresses"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The person record. Clients that follow redirects can also land here with `text/html` instead: a path segment containing `<`, `>`, `*` or `&` is bounced to the web application's error page, which answers 200 with HTML (see the 302 response).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                },
                "examples": {
                  "expanded": {
                    "summary": "Sandbox test person with $expand=emails,phones,addresses (abridged: null-only fields omitted)",
                    "value": {
                      "vanId": 102714558,
                      "firstName": "Grace",
                      "lastName": "Testperson",
                      "contactSource": "API",
                      "contactMode": "Person",
                      "salutation": "Grace",
                      "formalSalutation": "Grace Testperson",
                      "envelopeName": "Grace Testperson",
                      "formalEnvelopeName": "Grace Testperson",
                      "isDeceased": false,
                      "dateCreated": "2026-08-03T16:31:00Z",
                      "dateAcquired": "0001-01-01T00:00:00Z",
                      "emails": [
                        {
                          "type": "W",
                          "email": "grace.testperson@example.com",
                          "dateCreated": "2026-08-03T16:31:00Z",
                          "isPreferred": true,
                          "isSubscribed": null,
                          "subscriptionStatus": "N"
                        }
                      ],
                      "phones": [
                        {
                          "phoneId": 1021629,
                          "phoneNumber": "9075550142",
                          "dialingPrefix": "1",
                          "countryCode": "US",
                          "ext": "123",
                          "dateCreated": "2026-08-03T16:31:00Z",
                          "phoneType": "Personal",
                          "deviceType": "Cell",
                          "isPreferred": true,
                          "isBest": true,
                          "isDisclosure": true,
                          "smsOptInStatus": "Opt-In",
                          "phoneOptInStatus": "Opt-In",
                          "isCellPhoneExchange": false,
                          "isCellStatus": null,
                          "tags": null
                        }
                      ],
                      "addresses": [
                        {
                          "addressId": 1206601,
                          "addressLine1": "123 Test St",
                          "addressLine2": "Apt 4",
                          "addressLine3": null,
                          "unitNo": null,
                          "city": "Anchorage",
                          "stateOrProvince": "AK",
                          "zipOrPostalCode": "99501",
                          "geoLocation": null,
                          "countryCode": "US",
                          "preview": "123 Test St Apt 4",
                          "type": "Voting",
                          "isPreferred": true,
                          "isBest": true,
                          "streetAddress": null,
                          "displayMode": "Standardized"
                        },
                        {
                          "addressId": 1206601,
                          "addressLine1": "123 Test St",
                          "addressLine2": "Apt 4",
                          "addressLine3": null,
                          "unitNo": null,
                          "city": "Anchorage",
                          "stateOrProvince": "AK",
                          "zipOrPostalCode": "99501",
                          "geoLocation": null,
                          "countryCode": "US",
                          "preview": "123 Test St Apt 4",
                          "type": "Mailing",
                          "isPreferred": true,
                          "isBest": true,
                          "streetAddress": null,
                          "displayMode": "Standardized"
                        }
                      ]
                    }
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                },
                "x-provenance": {
                  "lastProbed": "2026-08-03",
                  "note": "The VAN web app's \"Oops...something went wrong\" page, reached by following the request-validation 302. Documented so redirect-following clients (including the schemathesis stateful phase, which found it) conform."
                }
              }
            }
          },
          "302": {
            "$ref": "#/components/responses/RequestValidationRedirect"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/PersonNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "operationId": "updatePerson",
        "summary": "Update an existing person",
        "description": "Merges the payload into an existing record. Fields left out of the body keep their current values, and `emails`, `phones` and `addresses` are appended to what is already there rather than replacing it — there is no way to remove a contact method through this endpoint. An empty body is accepted and changes nothing.\n\nOn success the response is **302 Found** with a `Location` header pointing back at `/people/{vanId}` and a match-stub body — the same shape POST /people/find returns, not the updated record. An unknown, zero or negative vanId returns 404.\n\nThe update is not idempotent for contact methods: sending the same email twice adds it twice.",
        "x-provenance": {
          "lastProbed": "2026-08-03",
          "note": "Merge semantics confirmed by updating only middleName on a record and observing firstName, lastName and employer survive; append semantics by adding a second email and seeing both returned, with isPreferred moving to the newer one. Not in the official docs' page index; the path comes from van-cli (people.ts update), which notes PUT is not supported."
        },
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "vanId",
            "in": "path",
            "required": true,
            "description": "VAN id of the person to update.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            },
            "example": 102714580
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonInput"
              },
              "examples": {
                "scalars": {
                  "summary": "Change a couple of fields, leaving the rest alone",
                  "value": {
                    "middleName": "Quinn",
                    "employer": "Ship Creek Group"
                  }
                },
                "addEmail": {
                  "summary": "Append an email address (existing addresses are kept)",
                  "value": {
                    "emails": [
                      {
                        "email": "cre.work@example.com",
                        "type": "W"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Never sent by this endpoint. This is where a redirect-following client *lands* after a successful update:\n\n```\nPOST /people/102714580         {\"firstName\": \"Cre\", …}\n  ← 302 Found\n    Location: https://api.securevan.com/v4/people/102714580   (same URL)\n    {\"vanId\": 102714580, \"status\": \"Matched\"}\n\nGET /people/102714580          ← client re-issues the request at Location\n  ← 200 OK\n    { the merged record — the body documented here }\n```\n\nA happy accident: the update itself never returns the record, but the followed GET does, so redirect-following clients get the merged result for free. See POST /people/find for the full redirect-following notes, including the `curl -X POST -L` gotcha.\n\nThe other way to reach a 200 is a failure: when the 302 was the ASP.NET request-validation bounce (a path segment containing `<`, `>`, `*` or `&`), following it lands on the web application's HTML error page, which answers 200 with `text/html`. Check the content type before parsing JSON.",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "Chain observed end to end with httpx: POST /people/{vanId} with an empty body → 302 back to the same URL → GET → 200 with the full record."
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "302": {
            "description": "The record was updated. `Location` points back at the person resource; the body is a match stub, not the updated record.\n\nThe same status also covers a failure that never reaches the API: a path segment containing `<`, `>`, `*` or `&` is rejected by ASP.NET request validation and redirected to `/Error.aspx?EID={code}` with an HTML body. Check the content type to tell them apart.",
            "headers": {
              "Location": {
                "description": "URL of the updated person — or of the web application's error page when request validation rejected the path.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "example": "https://api.securevan.com/v4/people/102714580"
              }
            },
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                },
                "x-provenance": {
                  "lastProbed": "2026-08-03",
                  "note": "\"Object moved\" body of the request-validation redirect; see the RequestValidationRedirect response for the full story."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonMatched"
                }
              }
            },
            "links": {
              "getUpdatedPerson": {
                "operationId": "getPerson",
                "parameters": {
                  "vanId": "$response.body#/vanId"
                },
                "description": "Fetch the record to see the merged result — the update response does not include it."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/PersonNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/people": {
      "get": {
        "operationId": "searchPeople",
        "summary": "Search for people",
        "description": "Searches for people matching the given criteria and returns full person records in the standard pagination envelope. At least one search parameter must be set: firstName, lastName, middleName, streetAddress, city, stateOrProvince, zipOrPostalCode, phoneNumber, email, commonName, or officialName. A request with none of these — even one with filter or paging parameters set — returns 400 INVALID_PARAMETER with the text \"This endpoint requires at least one search parameter to be set.\" Text criteria are case-insensitive prefix matches: lastName=Testpers matches \"Testperson\", lastName=estperson does not. Related collections on the returned records are null unless requested via $expand.",
        "x-provenance": {
          "source": "van-cli people.ts (list command) plus live sandbox probing; the endpoint is absent from the official docs' page index (llms.txt lists only /people/find).",
          "lastProbed": "2026-08-04"
        },
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "firstName",
            "in": "query",
            "description": "First name. Case-insensitive prefix match.",
            "schema": {
              "type": "string"
            },
            "example": "Ada"
          },
          {
            "name": "lastName",
            "in": "query",
            "description": "Last name. Case-insensitive prefix match.",
            "schema": {
              "type": "string"
            },
            "example": "Testperson"
          },
          {
            "name": "middleName",
            "in": "query",
            "description": "Middle name.",
            "schema": {
              "type": "string"
            },
            "example": "Marie"
          },
          {
            "name": "streetAddress",
            "in": "query",
            "description": "Street address.",
            "schema": {
              "type": "string"
            },
            "example": "123 Test St"
          },
          {
            "name": "city",
            "in": "query",
            "description": "City.",
            "schema": {
              "type": "string"
            },
            "example": "Anchorage"
          },
          {
            "name": "stateOrProvince",
            "in": "query",
            "description": "State or province.",
            "schema": {
              "type": "string"
            },
            "example": "AK"
          },
          {
            "name": "zipOrPostalCode",
            "in": "query",
            "description": "ZIP or postal code.",
            "schema": {
              "type": "string"
            },
            "example": "99501"
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "description": "Phone number. Non-numeric characters are stripped, then the value must be a valid North American number matching `^1?[2-9][0-8]\\d[2-9]\\d{6,6}$`; anything else returns 400 INVALID_PARAMETER with that regular expression in the hint.",
            "schema": {
              "type": "string",
              "pattern": "^1?[2-9][0-8]\\d[2-9]\\d{6,6}$"
            },
            "example": "9075550142"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Email address. Case-insensitive prefix match, checked against all of the person's email addresses, not just the preferred one.",
            "schema": {
              "type": "string"
            },
            "example": "ada.testperson@example.com"
          },
          {
            "name": "commonName",
            "in": "query",
            "description": "Organization common name.",
            "schema": {
              "type": "string"
            },
            "example": "Acme Corp"
          },
          {
            "name": "officialName",
            "in": "query",
            "description": "Organization official name.",
            "schema": {
              "type": "string"
            },
            "example": "Acme Corporation"
          },
          {
            "name": "contactMode",
            "in": "query",
            "description": "Filters the results to Person or Organization records. Does not count toward the at-least-one-search-parameter requirement, and any other value is ignored rather than rejected.",
            "schema": {
              "type": "string",
              "enum": ["Person", "Organization"]
            },
            "example": "Person"
          },
          {
            "name": "employer",
            "in": "query",
            "description": "Accepted but has no effect on the results, and does not count toward the at-least-one-search-parameter requirement.",
            "schema": {
              "type": "string"
            },
            "example": "Acme Corp",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "Listed as a search criterion in van-cli people.ts, but adding it to a lastName search never changed the result count, even for values matching no one. Only My Campaign was probed."
            }
          },
          {
            "name": "occupation",
            "in": "query",
            "description": "Accepted but has no effect on the results, and does not count toward the at-least-one-search-parameter requirement.",
            "schema": {
              "type": "string"
            },
            "example": "Engineer",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "Listed as a search criterion in van-cli people.ts, but adding it to a lastName search never changed the result count, even for values matching no one. Only My Campaign was probed."
            }
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "description": "Accepted but has no effect on the results, and does not count toward the at-least-one-search-parameter requirement. Even an unparseable value is accepted and ignored.",
            "schema": {
              "type": "string"
            },
            "example": "1980-01-15",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "Listed as a search criterion in van-cli people.ts, but adding it to a lastName search never changed the result count, even for values matching no one. Only My Campaign was probed."
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Limits the number of results per page. Default 50, maximum 200; 0 and negative values return 400.",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "van-cli caps this at 50 client-side with a comment that VAN limits people search to 50, but the API's own INVALID_PARAMETER hint states default 50 / maximum 200, and $top=200 was accepted live."
            },
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 200
            },
            "example": 50
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of results to skip. Negative values return 400.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 0
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sort expression. The only sortable property is Name; \"Name desc\" sorts descending. Any other property returns 400 INVALID_PARAMETER with the hint \"The only valid orderby property is: 'Name'\".",
            "schema": {
              "type": "string"
            },
            "example": "Name"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Related sections to include, comma-delimited and case-insensitive eg 'addresses,emails' — a much smaller set than GET /people/{vanId} accepts. The API's hint also lists pollingLocation, but requesting it is then refused with 400 BAD_REQUEST \"May not request 'pollingLocation' in this context\", alone or combined, so the usable set is the four below. Anything outside the hinted set returns 400 INVALID_PARAMETER. Expanded collections come back as empty arrays when absent; unexpanded sections stay null.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "addresses",
                  "emails",
                  "phones",
                  "districts"
                ]
              }
            },
            "example": [
              "emails",
              "phones",
              "addresses",
              "districts"
            ],
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "pollingLocation was rejected in My Campaign mode (the only mode the sandbox key can reach); it may be expandable in My Voters mode, which is what the hint presumably describes."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of matching people.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonList"
                },
                "examples": {
                  "No Matches": {
                    "value": {
                      "items": [],
                      "nextPageLink": null,
                      "count": 0
                    }
                  },
                  "First of Many Pages (no $expand)": {
                    "description": "First of 120 matches for lastName=Testperson with $top=1 (item abridged: null-only fields omitted)",
                    "value": {
                      "items": [
                        {
                          "vanId": 102714808,
                          "firstName": null,
                          "lastName": "Testperson",
                          "contactSource": "API",
                          "contactMode": "Person",
                          "isDeceased": false,
                          "dateCreated": "2026-08-03T17:31:00Z",
                          "dateAcquired": "0001-01-01T00:00:00Z",
                          "emails": null,
                          "phones": null,
                          "addresses": null
                        }
                      ],
                      "nextPageLink": "https://api.securevan.com:443/v4/people?lastName=Testperson&$top=1&$skip=1",
                      "count": 120
                    }
                  },
                  "First of Many Pages (with $expand)": {
                    "description": "lastName=Testperson&$top=1&$orderby=Name desc&$expand=emails,phones,addresses,districts (item abridged: null-only fields, sandbox fuzz noise, and the duplicate Mailing copy of the address omitted — see GET /people/{vanId} for that quirk)",
                    "value": {
                      "items": [
                        {
                          "vanId": 102715285,
                          "firstName": "Grace",
                          "lastName": "Testperson",
                          "contactSource": "API",
                          "contactMode": "Person",
                          "sex": "M",
                          "dateOfBirth": "2000-01-01T00:00:00Z",
                          "isDeceased": false,
                          "partialDateOfBirth": {
                            "month": 1,
                            "day": 1,
                            "year": 2000
                          },
                          "dateCreated": "2026-08-04T12:16:00Z",
                          "dateAcquired": "0001-01-01T00:00:00Z",
                          "emails": [
                            {
                              "type": "W",
                              "email": "grace.testperson@example.com",
                              "dateCreated": "2026-08-04T12:16:00Z",
                              "isPreferred": true,
                              "isSubscribed": true,
                              "subscriptionStatus": "S"
                            }
                          ],
                          "phones": [
                            {
                              "phoneId": 1021654,
                              "phoneNumber": "9075550142",
                              "dialingPrefix": "1",
                              "countryCode": "US",
                              "ext": "123",
                              "dateCreated": "2026-08-04T12:25:00Z",
                              "phoneType": "Personal",
                              "deviceType": "Cell",
                              "isPreferred": true,
                              "isBest": true,
                              "isDisclosure": true,
                              "smsOptInStatus": "Opt-In",
                              "phoneOptInStatus": "Opt-In",
                              "isCellPhoneExchange": false,
                              "isCellStatus": null,
                              "tags": null
                            }
                          ],
                          "addresses": [
                            {
                              "addressId": 1206622,
                              "addressLine1": "123 Test St",
                              "addressLine2": "Apt 4",
                              "city": "Anchorage",
                              "stateOrProvince": "AK",
                              "zipOrPostalCode": "99501",
                              "countryCode": "US",
                              "preview": "123 Test St Apt 4",
                              "type": "Voting",
                              "isPreferred": true,
                              "isBest": true,
                              "displayMode": "Standardized"
                            },
                            {
                              "addressId": 1206622,
                              "addressLine1": "123 Test St",
                              "addressLine2": "Apt 4",
                              "city": "Anchorage",
                              "stateOrProvince": "AK",
                              "zipOrPostalCode": "99501",
                              "countryCode": "US",
                              "preview": "123 Test St Apt 4",
                              "type": "Mailing",
                              "isPreferred": true,
                              "isBest": true,
                              "displayMode": "Standardized"
                            }
                          ],
                          "districts": [
                            {
                              "districtFieldId": 0,
                              "name": "County",
                              "parentFieldId": null,
                              "isCustomDistrict": false,
                              "districtFieldValues": [
                                {
                                  "id": "020",
                                  "name": "Anchorage",
                                  "parentId": null
                                }
                              ]
                            },
                            {
                              "districtFieldId": 0,
                              "name": "State",
                              "parentFieldId": null,
                              "isCustomDistrict": false,
                              "districtFieldValues": [
                                {
                                  "id": "AK",
                                  "name": "Alaska",
                                  "parentId": null
                                }
                              ]
                            }
                          ],
                          "pollingLocation": null,
                          "scores": null
                        }
                      ],
                      "nextPageLink": "https://api.securevan.com:443/v4/people?lastName=Testperson&$top=1&$orderby=Name%20desc&$expand=emails%2Cphones%2Caddresses%2Cdistricts&$skip=1",
                      "count": 131
                    }
                  }
                }
              }
            },
            "links": {
              "getFirstPerson": {
                "operationId": "getPerson",
                "parameters": {
                  "vanId": "$response.body#/items/0/vanId"
                },
                "description": "Fetch the first matching person's full record (e.g. with the larger $expand set that getPerson accepts)."
              }
            }
          },
          "400": {
            "description": "Validation error. Most are INVALID_PARAMETER and name the offending query parameter in `properties`; the no-search-parameter case names the pseudo-property \"All Arguments\", and refusing an out-of-context $expand section uses code BAD_REQUEST with no `properties` or `hint` at all.",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "All five examples are verbatim sandbox responses (My Campaign mode)."
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "noSearchParameter": {
                    "summary": "No search parameter set (here: only $top)",
                    "value": {
                      "errors": [
                        {
                          "code": "INVALID_PARAMETER",
                          "text": "This endpoint requires at least one search parameter to be set.",
                          "properties": ["All Arguments"]
                        }
                      ]
                    }
                  },
                  "invalidPhoneNumber": {
                    "summary": "phoneNumber=555",
                    "value": {
                      "errors": [
                        {
                          "code": "INVALID_PARAMETER",
                          "text": "'phoneNumber' (555) is not a valid phone number for NorthAmerica",
                          "properties": ["phoneNumber"],
                          "hint": "After non-numeric characters are removed, value must match the regular expression: ^1?[2-9][0-8]\\d[2-9]\\d{6,6}$"
                        }
                      ]
                    }
                  },
                  "invalidOrderby": {
                    "summary": "$orderby=lastName — only Name is sortable",
                    "value": {
                      "errors": [
                        {
                          "code": "INVALID_PARAMETER",
                          "text": "'lastName' is not a valid argument for the '$orderby' parameter",
                          "properties": ["$orderby"],
                          "hint": "The only valid orderby property is: 'Name'"
                        }
                      ]
                    }
                  },
                  "invalidExpand": {
                    "summary": "$expand=scores — valid on GET /people/{vanId}, not here",
                    "value": {
                      "errors": [
                        {
                          "code": "INVALID_PARAMETER",
                          "text": "'scores' is not a valid argument for the '$expand' parameter",
                          "properties": ["$expand"],
                          "hint": "The only valid expand sections are: 'Addresses', 'Emails', 'Phones', 'Districts', 'PollingLocation'"
                        }
                      ]
                    }
                  },
                  "expandNotAllowedInContext": {
                    "summary": "$expand=pollingLocation — listed in the hint above, but refused in My Campaign mode",
                    "value": {
                      "errors": [
                        {
                          "code": "BAD_REQUEST",
                          "text": "May not request 'pollingLocation' in this context"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/QueryStringTooLong"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/people/find": {
      "post": {
        "operationId": "findPerson",
        "summary": "Find a person matching the given criteria",
        "description": "Attempts to match a person in the database. A match returns **302 Found** with a `Location` header pointing at `/people/{vanId}` and a small match-stub body; no match returns **404** with `{\"vanId\": null, \"status\": \"Unmatched\"}`. Sparse criteria (e.g. firstName only) are accepted and simply return Unmatched. Read-only: never creates records (use /people/findOrCreate for that).",
        "x-docs-discrepancy": "Official docs imply a 200 with a person object on match. Sandbox probing (2026-08-03) shows 302 + Location on match and 404 with a match stub on no match; no 400 was observed even for sparse criteria like firstName-only.",
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonMatchCriteria"
              },
              "examples": {
                "nameAndEmail": {
                  "summary": "Match on name + email",
                  "value": {
                    "firstName": "Ada",
                    "lastName": "Testperson",
                    "emails": [
                      {
                        "email": "ada.testperson@example.com"
                      }
                    ]
                  }
                },
                "nameAndPhone": {
                  "summary": "Match on name + phone",
                  "value": {
                    "firstName": "Ada",
                    "lastName": "Testperson",
                    "phones": [
                      {
                        "phoneNumber": "9075551234"
                      }
                    ]
                  }
                },
                "byVanId": {
                  "summary": "Look up by vanId (overrides all other criteria)",
                  "value": {
                    "vanId": 102714507
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Never sent by this endpoint. This is where a redirect-following client *lands* on a match:\n\n```\nPOST /people/find              {\"firstName\": \"Ada\", \"lastName\": \"Testperson\", …}\n  ← 302 Found\n    Location: https://api.securevan.com/v4/people/102714507\n    {\"vanId\": 102714507, \"status\": \"Matched\"}\n\nGET /people/102714507          ← client re-issues the request at Location\n  ← 200 OK\n    { full person record — the body documented here }\n```\n\nrequests, httpx, fetch and `curl -L` all follow that redirect and downgrade POST to GET by default, so a match reaches your code as this 200 and a full `Person`, never as the 302 and its two-field match stub. The no-match 404 is not a redirect, so the practical test is `resp.status_code == 200` vs `404`, not `302` vs `404`. The follow-up GET has no `$expand`, so its related collections come back null — re-fetch through the `getMatchedPerson` link if you need addresses, phones or emails.\n\nGotcha: `curl -X POST -L` keeps the method across the redirect and re-POSTs to `/people/{vanId}` — the *update* endpoint — where IIS answers `411 Length Required` because the re-issued request carries no body. Drop the explicit `-X POST` (`-d` already implies POST) and curl downgrades to GET like everything else.",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "Chain observed end to end with httpx and requests (both: 302 → GET → 200 Person) and with curl 8.7.1 both ways (`-d` alone → GET → 200; `-X POST -L` → POST /people/{vanId} → 411). Documented alongside the raw 302 so both redirect-following clients and raw clients (including the schemathesis fuzzer) conform to this spec."
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                },
                "examples": {
                  "matched": {
                    "summary": "Sandbox test person (abridged: null-only fields omitted)",
                    "value": {
                      "vanId": 102714507,
                      "firstName": "Ada",
                      "lastName": "Testperson",
                      "middleName": null,
                      "contactSource": "API",
                      "contactMode": "Person",
                      "salutation": "Ada",
                      "formalSalutation": "Ada Testperson",
                      "envelopeName": "Ada Testperson",
                      "isDeceased": false,
                      "dateCreated": "2026-08-03T12:58:00Z",
                      "dateAcquired": "0001-01-01T00:00:00Z",
                      "party": null,
                      "dateOfBirth": null,
                      "emails": null,
                      "phones": null,
                      "addresses": null
                    }
                  }
                }
              }
            },
            "links": {
              "getMatchedPerson": {
                "operationId": "getPerson",
                "parameters": {
                  "vanId": "$response.body#/vanId"
                },
                "description": "Re-fetch the matched person by id (e.g. with $expand for related collections)."
              }
            }
          },
          "302": {
            "description": "A person matched the criteria. `Location` header points at the canonical person resource.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/MatchedPersonLocation"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonMatched"
                }
              }
            },
            "links": {
              "getMatchedPerson": {
                "operationId": "getPerson",
                "parameters": {
                  "vanId": "$response.body#/vanId"
                },
                "description": "Fetch the matched person's full record — equivalent to following the Location header."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No person matched the criteria. Body is a match stub with status \"Unmatched\" (NOT the standard error envelope).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonUnmatched"
                },
                "examples": {
                  "unmatched": {
                    "summary": "No match",
                    "value": {
                      "vanId": null,
                      "status": "Unmatched"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/people/findOrCreate": {
      "post": {
        "operationId": "findOrCreatePerson",
        "summary": "Find a person, or create one if nothing matches",
        "description": "Runs the same match as POST /people/find and, when nothing matches, stores the payload as a new record.\n\nOutcomes:\n\n- **A record matches** — **302 Found**, with a `Location` header and `{\"vanId\": …, \"status\": \"Matched\"}`.\n- **Nothing matches** — **201 Created** with `{\"vanId\": …, \"status\": \"UnmatchedStored\"}`, and the payload is stored as a new record. Unlike find, this never returns 404 — the no-match case is the create case.\n- **The body supplies a `vanId` that exists** — the match is short-circuited and that record is returned as **302**.\n- **The body is empty (`{}`)** — every field is optional, including the name, so this is a no-match: **201** and a blank record is created.",
        "x-provenance": {
          "lastProbed": "2026-08-03",
          "note": "Not in the official docs' page index; the path comes from van-cli (people.ts findOrCreate), which requires firstName and lastName client-side. The API itself requires neither — an empty body was accepted (observed 2026-08-03)."
        },
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonInput"
              },
              "examples": {
                "nameAndEmail": {
                  "summary": "Name + email",
                  "value": {
                    "firstName": "Grace",
                    "lastName": "Testperson",
                    "emails": [
                      {
                        "email": "grace.testperson@example.com",
                        "type": "W",
                        "isPreferred": true
                      }
                    ]
                  }
                },
                "fullContact": {
                  "summary": "Name + phone + address",
                  "value": {
                    "firstName": "Grace",
                    "lastName": "Testperson",
                    "phones": [
                      {
                        "phoneNumber": "907-555-0142",
                        "phoneType": "C",
                        "ext": "123",
                        "isPreferred": true,
                        "phoneOptInStatus": "I"
                      }
                    ],
                    "addresses": [
                      {
                        "addressLine1": "123 Test St",
                        "addressLine2": "Apt 4",
                        "city": "Anchorage",
                        "stateOrProvince": "AK",
                        "zipOrPostalCode": "99501",
                        "type": "Home"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Never sent by this endpoint. This is where a redirect-following client *lands* after a match:\n\n```\nPOST /people/findOrCreate      {\"vanId\": 102714558}\n  ← 302 Found\n    Location: https://api.securevan.com/v4/people/102714558\n    {\"vanId\": 102714558, \"status\": \"Matched\"}\n\nGET /people/102714558          ← client re-issues the request at Location\n  ← 200 OK\n    { full person record — the body documented here }\n```\n\nSo on a match your code sees this 200 and a full `Person`, not the 302 and its two-field match stub. `resp.history` (requests/httpx) or `resp.redirected` (fetch) is how you tell this apart from the 201 create path, which sends no `Location` and is never rewritten this way. See POST /people/find for the full redirect-following notes, including the `curl -X POST -L` gotcha.",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "Chain observed end to end with httpx and requests (both: 302 → GET → 200 Person) and with curl 8.7.1 both ways (`-d` alone → GET → 200; `-X POST -L` → POST /people/{vanId} → 411)."
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "201": {
            "description": "Nothing matched, so a new record was created. No `Location` header is sent — the new id is in the body, and redirect-following clients see this response unchanged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonUnmatchedStored"
                }
              }
            },
            "links": {
              "getCreatedPerson": {
                "operationId": "getPerson",
                "parameters": {
                  "vanId": "$response.body#/vanId"
                },
                "description": "Fetch the record that was just created."
              }
            }
          },
          "302": {
            "description": "An existing person matched, so nothing was written.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/MatchedPersonLocation"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonMatched"
                }
              }
            },
            "links": {
              "getMatchedPerson": {
                "operationId": "getPerson",
                "parameters": {
                  "vanId": "$response.body#/vanId"
                },
                "description": "Fetch the matched person's full record."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/people/create": {
      "post": {
        "operationId": "createPerson",
        "summary": "Create a person without matching",
        "description": "Stores the payload as a new record and returns **201 Created** with `{\"vanId\": …, \"status\": \"Stored\"}`. No de-duplication happens: posting a name and email identical to an existing record creates a second record. Use POST /people/findOrCreate when you want matching.\n\nThe one exception is `vanId`: if the body carries one that exists, nothing is created and the response is **302 Found** for that record, exactly as findOrCreate would answer.\n\nEvery field is optional — an empty body `{}` returns 201 and creates a blank record with no name.",
        "x-provenance": {
          "lastProbed": "2026-08-03",
          "note": "Not in the official docs' page index; the path comes from van-cli (people.ts create), which requires firstName and lastName client-side. The API requires neither. Duplicate behaviour confirmed by posting an exact copy of an existing person's name and email and receiving a new vanId (observed 2026-08-03)."
        },
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonInput"
              },
              "examples": {
                "minimal": {
                  "summary": "Name only",
                  "value": {
                    "firstName": "Cre",
                    "lastName": "Atetest"
                  }
                },
                "withDetails": {
                  "summary": "Name plus demographics and contact details",
                  "value": {
                    "firstName": "Cre",
                    "lastName": "Atetest",
                    "sex": "F",
                    "dateOfBirth": "1975-04-12",
                    "party": "D",
                    "contactMethodPreferenceCode": "E",
                    "employer": "Ship Creek Group",
                    "occupation": "Engineer",
                    "emails": [
                      {
                        "email": "cre@example.com",
                        "type": "W",
                        "subscriptionStatus": "S"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Never sent by this endpoint. This is where a redirect-following client *lands* when the body carried a `vanId` that already exists:\n\n```\nPOST /people/create            {\"vanId\": 102714558, …}\n  ← 302 Found\n    Location: https://api.securevan.com/v4/people/102714558\n    {\"vanId\": 102714558, \"status\": \"Matched\"}\n\nGET /people/102714558          ← client re-issues the request at Location\n  ← 200 OK\n    { full person record — the body documented here }\n```\n\nSo on the vanId path your code sees this 200 and a full `Person` — and, critically, a response that looks nothing like the 201 you get when a record really was created. Check `resp.history` / `resp.redirected`, or just don't send a `vanId` to a create endpoint. See POST /people/find for the full redirect-following notes, including the `curl -X POST -L` gotcha.",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "Chain observed end to end with httpx (302 → GET → 200 Person) by posting an existing vanId; identical to the POST /people/findOrCreate and POST /people/find redirects."
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                },
                "examples": {
                  "existingVanIdFollowed": {
                    "summary": "What a redirect-following client receives when the posted vanId already exists (abridged: null-only fields omitted)",
                    "value": {
                      "vanId": 102714558,
                      "firstName": "Dup",
                      "lastName": "Testperson",
                      "contactSource": "API",
                      "contactMode": "Person",
                      "salutation": "Dup",
                      "formalSalutation": "Dup Testperson",
                      "envelopeName": "Dup Testperson",
                      "formalEnvelopeName": "Dup Testperson",
                      "isDeceased": false,
                      "dateCreated": "2026-08-03T16:31:00Z",
                      "dateAcquired": "0001-01-01T00:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "A new record was created. No `Location` header is sent — the new id is in the body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonStored"
                },
                "examples": {
                  "created": {
                    "summary": "New record stored",
                    "value": {
                      "vanId": 102714580,
                      "status": "Stored"
                    }
                  }
                }
              }
            },
            "links": {
              "getCreatedPerson": {
                "operationId": "getPerson",
                "parameters": {
                  "vanId": "$response.body#/vanId"
                },
                "description": "Fetch the record that was just created."
              }
            }
          },
          "302": {
            "description": "The body carried a vanId that already exists, so nothing was created.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/MatchedPersonLocation"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonMatched"
                }
              }
            },
            "links": {
              "getMatchedPerson": {
                "operationId": "getPerson",
                "parameters": {
                  "vanId": "$response.body#/vanId"
                },
                "description": "Fetch the existing person's full record."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/surveyQuestions": {
      "get": {
        "operationId": "listSurveyQuestions",
        "summary": "List survey questions",
        "description": "Returns the context's survey questions, each with its canned responses, in the standard pagination envelope. Every filter is optional; with none set, Active questions are returned. The sandbox committee has no survey questions, so only the empty page has been observed live.",
        "tags": [
          "Survey Questions"
        ],
        "parameters": [
          {
            "name": "statuses",
            "in": "query",
            "description": "Statuses to include, comma-delimited. Defaults to Active.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/SurveyQuestionStatus"
              }
            },
            "example": [
              "Active",
              "Archived"
            ]
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filters to survey questions whose name starts with the given input.",
            "schema": {
              "type": "string"
            },
            "example": "Gun Control"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filters to survey questions of the given type.",
            "schema": {
              "type": "string"
            },
            "example": "GOTV"
          },
          {
            "name": "question",
            "in": "query",
            "description": "Filters to survey questions whose script question contains the given input.",
            "schema": {
              "type": "string"
            },
            "example": "Will you vote"
          },
          {
            "name": "cycle",
            "in": "query",
            "description": "A year in the format YYYY.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1900,
              "maximum": 2100
            },
            "example": 2026
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Limits the number of results. Default 50, maximum 200.",
            "x-docs-discrepancy": "Official docs claim a default of 40; the API's own INVALID_PARAMETER hint (observed 2026-08-03) states default 50, maximum 200.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 200
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of survey questions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyQuestionList"
                },
                "examples": {
                  "empty": {
                    "summary": "Empty list",
                    "value": {
                      "items": [],
                      "nextPageLink": null,
                      "count": 0
                    }
                  },
                  "populated": {
                    "summary": "Populated list",
                    "x-provenance": {
                      "note": "Constructed from official docs; item shape not yet observed live."
                    },
                    "value": {
                      "items": [
                        {
                          "surveyQuestionId": 1204,
                          "type": "GOTV",
                          "cycle": 2026,
                          "name": "Will Vote 2026",
                          "mediumName": "WillVote26",
                          "shortName": "WV26",
                          "scriptQuestion": "Can we count on you to vote in the 2026 general election?",
                          "status": "Active",
                          "responses": [
                            {
                              "surveyResponseId": 1,
                              "name": "Yes",
                              "mediumName": "Yes",
                              "shortName": "Y"
                            },
                            {
                              "surveyResponseId": 2,
                              "name": "No",
                              "mediumName": "No",
                              "shortName": "N"
                            }
                          ]
                        }
                      ],
                      "nextPageLink": null,
                      "count": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/QueryStringTooLong"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/echoes": {
      "post": {
        "operationId": "createEcho",
        "summary": "Echo a message back",
        "description": "Test endpoint: echoes the posted message back with a server timestamp. Safe to call freely; useful for verifying auth and connectivity. Accepts an empty body (all fields nullable).",
        "tags": [
          "Echoes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EchoRequest"
              },
              "examples": {
                "hello": {
                  "summary": "Simple echo",
                  "value": {
                    "message": "hello"
                  }
                },
                "empty": {
                  "summary": "Empty body (accepted; everything is nullable)",
                  "value": {}
                },
                "delayed": {
                  "summary": "Ask the server to wait before responding",
                  "value": {
                    "message": "slow reply",
                    "delayInMilliseconds": 500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The echoed message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Echo"
                },
                "examples": {
                  "hello": {
                    "summary": "Echoed message (sandbox)",
                    "value": {
                      "message": "hello",
                      "dateSent": "2026-08-03T16:47:29.8973257Z",
                      "delayInMilliseconds": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic auth. Username = an arbitrary label, e.g. `my_fancy_app`; password = `{apiKey}|{databaseMode}` where databaseMode is `0` (My Voters) or `1` (My Campaign) and apiKey is a UUID like `07540886-b749-433c-b18d-a3d052f6b759`. Using a mode your key lacks returns 401 UNAUTHORIZED \"Invalid Database Mode\"."
      }
    },
    "headers": {
      "MatchedPersonLocation": {
        "description": "URL of the person the request resolved to.",
        "schema": {
          "type": "string",
          "format": "uri"
        },
        "example": "https://api.securevan.com/v4/people/102714507"
      }
    },
    "responses": {
      "Forbidden": {
        "description": "The request was valid but the key's context does not allow it. Observed on GET /people/{vanId} with `$expand=scores`: scores are a My Voters feature, so a My Campaign key is refused even though `scores` is in the API's own list of valid sections. The sibling refusal for `pollingLocation` uses 400 BAD_REQUEST instead — the two are not consistent.",
        "x-provenance": {
          "lastProbed": "2026-08-04",
          "note": "Surfaced by the fuzzer once $expand was modelled as an enum of the API's 23 valid sections; each section was then requested in turn against vanId 102714507, and scores was the only 403 (pollingLocation the only 400)."
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "forbiddenSection": {
                "summary": "$expand=scores from a My Campaign key",
                "value": {
                  "errors": [
                    {
                      "code": "FORBIDDEN",
                      "text": "May not request 'scores'"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "QueryStringTooLong": {
        "description": "The request never reached the API. IIS rejects any request whose query string runs past roughly 2048 characters and answers with its own HTML \"404 - File or directory not found\" page, so this 404 means the URL was too long rather than that anything was missing. Nothing in the body identifies the real cause; check the content type, since the API's own 404s are JSON.",
        "x-provenance": {
          "lastProbed": "2026-08-04",
          "note": "Found by the fuzzer on GET /surveyQuestions with a very long generated filter value, then bisected with `statuses=AAA…`: 2000 characters still reach the API (which answers 500), 2100 return the IIS 404. Reproduced on GET /people with a long lastName, so this is infrastructure-wide rather than endpoint-specific."
        },
        "content": {
          "text/html": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "PersonNotFound": {
        "description": "No person with that vanId exists. Zero and negative ids return this too, as the standard error envelope. Two non-API cases share this status and answer with an IIS HTML page instead: a non-integer path segment, which matches no route, and a query string longer than ~2048 characters, which IIS rejects outright.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "notFound": {
                "summary": "Unknown vanId",
                "value": {
                  "errors": [
                    {
                      "code": "NOT_FOUND",
                      "text": "The specified resource cannot be found."
                    }
                  ]
                }
              }
            }
          },
          "text/html": {
            "schema": {
              "type": "string"
            },
            "x-provenance": {
              "lastProbed": "2026-08-03",
              "note": "IIS \"404 - File or directory not found\" page, served when the path segment is not an integer so no API route matches."
            }
          }
        }
      },
      "RequestValidationRedirect": {
        "description": "The request never reached the API. ASP.NET request validation rejects a path segment containing `<`, `>`, `*` or `&` and hands the request to the VAN web application, which answers **302** with `Location: /Error.aspx?EID={code}` and a small HTML \"Object moved\" body. Clients that follow the redirect land on the web app's HTML \"Oops...something went wrong\" page with status 200 — HTML, not JSON, from an endpoint that otherwise only speaks JSON.\n\nOther unusual path characters take different routes: `:` and `\"` give the IIS HTML 404, and a backslash gives the standard JSON 404 envelope.",
        "x-provenance": {
          "lastProbed": "2026-08-03",
          "note": "Found by the stateful fuzz phase on GET /people/{vanId} and reproduced character by character. The EID in the Location is a support reference code; no request data is echoed back."
        },
        "headers": {
          "Location": {
            "description": "The web application's error page, e.g. /Error.aspx?EID=26B226-343EF8",
            "schema": {
              "type": "string"
            },
            "example": "/Error.aspx?EID=26B226-343EF8"
          }
        },
        "content": {
          "text/html": {
            "schema": {
              "type": "string"
            },
            "examples": {
              "objectMoved": {
                "summary": "Redirect body",
                "value": "<html><head><title>Object moved</title></head><body>\n<h2>Object moved to <a href=\"/Error.aspx?EID=26B226-343EF8\">here</a>.</h2>\n</body></html>\n"
              }
            }
          }
        }
      },
      "BadRequest": {
        "description": "Validation error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "invalidParameter": {
                "summary": "$top over the maximum on /surveyQuestions",
                "value": {
                  "errors": [
                    {
                      "code": "INVALID_PARAMETER",
                      "text": "'$top' must be less than or equal to the maximum result size for this end point: 200",
                      "properties": [
                        "$top"
                      ],
                      "hint": "If no '$top' parameter is specified, a default top size of 50 will be used."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing/invalid API key, or a database mode the key does not have access to.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "wrongMode": {
                "summary": "Database mode the key lacks",
                "value": {
                  "errors": [
                    {
                      "code": "UNAUTHORIZED",
                      "text": "Invalid Database Mode"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded. Limits are per API key, set by the key's rate-limit profile, and apply across all endpoints, so any operation can return 429. There is no `Retry-After` header; the suggested wait appears only in the error text (\"Try again in N ms.\"). Unlike other errors, `code` is the numeric string \"429\" rather than a symbolic name.",
        "x-docs-discrepancy": "The official docs do not mention rate limiting or the 429 response anywhere in their reference index (checked 2026-08-04). Observed live on GET /surveyQuestions and POST /people/create.",
        "x-provenance": {
          "source": "sandbox probe",
          "lastProbed": "2026-08-04",
          "note": "Triggered with ~300 concurrent GET /surveyQuestions requests; 225 returned 429. None of them carried a Retry-After header — the retry hint is only in the error text, with the millisecond count varying per response."
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "rateLimited": {
                "summary": "Per-key rate limit exceeded",
                "value": {
                  "errors": [
                    {
                      "code": "429",
                      "text": "Rate limit exceeded. Try again in 30 ms."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "ServerError": {
        "description": "Internal server error. The API returns 500 (not 400) for various malformed inputs, e.g. negative delayInMilliseconds on /echoes, non-ASCII filter values on /surveyQuestions, vanId 0 or null phone entries on /people/find, a null phone entry on the person write endpoints, and an `identifiers` entry with the valid type `dwid` on POST /people/create. Two body shapes occur: the standard errors envelope (with a referenceCode for support), or a raw ASP.NET exception payload including a stack trace when the request fails before reaching the API's own error handling (e.g. a query-string key containing '[').",
        "content": {
          "application/json": {
            "schema": {
              "description": "The two shapes are disjoint: the standard envelope requires `errors`, the ASP.NET payload requires `message`, and neither carries the other's fields.",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                {
                  "$ref": "#/components/schemas/AspNetError"
                }
              ]
            },
            "examples": {
              "internal": {
                "summary": "Malformed input",
                "value": {
                  "errors": [
                    {
                      "code": "INTERNAL_SERVER_ERROR",
                      "text": "An unknown error occurred",
                      "referenceCode": "48E6AB-938498"
                    }
                  ]
                }
              },
              "aspNet": {
                "summary": "Raw ASP.NET exception (query-string key containing '[')",
                "description": "Returned when the request fails before reaching the API's own error handling. `stackTrace` is abridged here; the live response leaks the full trace, including build-server paths.",
                "value": {
                  "message": "An error has occurred.",
                  "exceptionMessage": "The key is invalid JQuery syntax because it is missing a closing bracket\r\nParameter name: key",
                  "exceptionType": "System.ArgumentException",
                  "stackTrace": "   at System.Web.Http.ModelBinding.FormDataCollectionExtensions.NormalizeJQueryToMvc(String key)\r\n   at System.Web.Http.ModelBinding.FormDataCollectionExtensions.<GetJQueryNameValuePairs>d__1.MoveNext()\r\n   at System.Linq.Buffer`1..ctor(IEnumerable`1 source)\r\n   at System.Linq.Enumerable.ToArray[TSource](IEnumerable`1 source)\r\n   at System.Net.Http.HttpRequestMessageExtensions.GetQueryNameValuePairs(HttpRequestMessage request)\r\n   at VAN.Web.Api.Infrastructure.TranslatorHandler.GetTranslationResource(HttpRequestMessage request) in D:\\BuildAgent\\work\\72169567f13f28bb\\Source\\Web.Api\\Infrastructure\\TranslatorHandler.cs:line 158\r\n   at VAN.Web.Api.Infrastructure.TranslatorHandler.<SendAsync>d__10.MoveNext() in D:\\BuildAgent\\work\\72169567f13f28bb\\Source\\Web.Api\\Infrastructure\\TranslatorHandler.cs:line 85\r\n   ... (stack trace abridged; the live response returns ~5.7 KB of frames)"
                }
              }
            },
            "x-provenance": {
              "source": "sandbox probe",
              "lastProbed": "2026-08-04",
              "note": "The aspNet example is a verbatim sandbox response to GET /people/102714507?a[=1, with the stack trace truncated after the frames that identify the crash. The internal example is from earlier probing of the malformed inputs listed above."
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "The standard error envelope, returned by every failing endpoint except where noted.",
        "required": [
          "errors"
        ],
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "One problem with the request.",
        "required": [
          "code",
          "text"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Machine-readable error code. Known values: UNAUTHORIZED, FORBIDDEN, INVALID_PARAMETER, BAD_REQUEST, NOT_FOUND, METHOD_NOT_ALLOWED, INTERNAL_SERVER_ERROR (list likely incomplete).",
            "examples": [
              "INVALID_PARAMETER"
            ]
          },
          "text": {
            "type": "string",
            "description": "Human-readable description of the problem."
          },
          "properties": {
            "type": [
              "array",
              "null"
            ],
            "description": "JSON paths of the offending request properties, e.g. \"responses[0].shortName\".",
            "items": {
              "type": "string"
            }
          },
          "hint": {
            "type": [
              "string",
              "null"
            ],
            "description": "How to fix it — often the accepted values or a regular expression."
          },
          "referenceCode": {
            "type": [
              "string",
              "null"
            ],
            "description": "Support reference code; present on INTERNAL_SERVER_ERROR responses."
          }
        }
      },
      "AspNetError": {
        "type": "object",
        "description": "Raw ASP.NET Web API exception payload, returned on some 500s instead of the standard errors envelope when the request fails before reaching the API's own error handling — e.g. a query-string key containing '[' crashes jQuery-syntax key parsing. Includes a full stack trace.",
        "x-provenance": {
          "lastProbed": "2026-08-03",
          "note": "Found by the stateful fuzz phase on GET /people/{vanId} with a fuzzed query-string key containing '['. The stack-trace disclosure is itself a VAN bug, logged in STATUS.md."
        },
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "e.g. \"An error has occurred.\""
          },
          "exceptionMessage": {
            "type": [
              "string",
              "null"
            ]
          },
          "exceptionType": {
            "type": [
              "string",
              "null"
            ],
            "description": "e.g. \"System.ArgumentException\""
          },
          "stackTrace": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "EchoRequest": {
        "type": "object",
        "description": "A message to send to the echo endpoint. Every field is optional.",
        "properties": {
          "message": {
            "type": [
              "string",
              "null"
            ],
            "description": "Text to echo back verbatim."
          },
          "delayInMilliseconds": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "maximum": 2000,
            "description": "Optional server-side delay before responding, in milliseconds. Warning: -1 hangs the connection indefinitely; other negative values return 500.",
            "x-provenance": {
              "note": "The -1 hang is likely the value being passed straight to .NET as Timeout.Infinite. Spec minimum is 1 so fuzzer boundary probes send 0 (safe) rather than -1."
            }
          }
        }
      },
      "Echo": {
        "type": "object",
        "description": "The posted message, echoed back with a server timestamp.",
        "required": [
          "message",
          "dateSent"
        ],
        "properties": {
          "message": {
            "type": [
              "string",
              "null"
            ],
            "description": "The message exactly as posted."
          },
          "dateSent": {
            "type": "string",
            "format": "date-time",
            "description": "Server time when the response was produced."
          },
          "delayInMilliseconds": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The delay that was applied, echoed back."
          }
        }
      },
      "PersonMatchCriteria": {
        "type": "object",
        "description": "Match criteria. A valid vanId overrides all other criteria.",
        "properties": {
          "vanId": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "description": "VAN id of the person; a valid vanId overrides all other criteria. Warning: the API returns 500 for vanId 0."
          },
          "firstName": {
            "type": [
              "string",
              "null"
            ]
          },
          "middleName": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastName": {
            "type": [
              "string",
              "null"
            ]
          },
          "dateOfBirth": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "emails": {
            "type": [
              "array",
              "null"
            ],
            "description": "Email addresses to match on.",
            "items": {
              "$ref": "#/components/schemas/PersonMatchEmail"
            }
          },
          "phones": {
            "type": [
              "array",
              "null"
            ],
            "description": "Phone numbers to match on. A null array entry returns 500.",
            "items": {
              "$ref": "#/components/schemas/PersonMatchPhone"
            }
          }
        }
      },
      "PersonMatchEmail": {
        "type": "object",
        "description": "An email address used as match criteria — the address only, unlike the fuller PersonEmailInput used when writing.",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "PersonMatchPhone": {
        "type": "object",
        "description": "A phone number used as match criteria — no type or opt-in fields, unlike the PersonPhoneInput used when writing.",
        "properties": {
          "phoneNumber": {
            "type": "string",
            "description": "Number without country code."
          },
          "dialingPrefix": {
            "type": [
              "string",
              "null"
            ],
            "description": "Numeric country code."
          },
          "countryCode": {
            "type": [
              "string",
              "null"
            ],
            "description": "Alpha-2 country code.",
            "x-docs-discrepancy": "Official docs spell this field 'countyCode' — likely a typo in the docs; not yet verified live."
          }
        }
      },
      "PersonMatched": {
        "type": "object",
        "description": "An existing record was found and nothing was written. The only match-stub shape that accompanies a 302: from find, findOrCreate, create when the body's vanId exists, and update.",
        "required": [
          "vanId",
          "status"
        ],
        "properties": {
          "vanId": {
            "type": "integer"
          },
          "status": {
            "const": "Matched"
          }
        }
      },
      "PersonUnmatched": {
        "type": "object",
        "description": "Nothing matched and nothing was written — the 404 body from find. The one match-stub shape with a null vanId.",
        "required": [
          "vanId",
          "status"
        ],
        "properties": {
          "vanId": {
            "type": "null"
          },
          "status": {
            "const": "Unmatched"
          }
        }
      },
      "PersonUnmatchedStored": {
        "type": "object",
        "description": "Nothing matched, so a new record was created — the 201 body from findOrCreate.",
        "required": [
          "vanId",
          "status"
        ],
        "properties": {
          "vanId": {
            "type": "integer"
          },
          "status": {
            "const": "UnmatchedStored"
          }
        }
      },
      "PersonStored": {
        "type": "object",
        "description": "A new record was created with no attempt to match — the 201 body from create.",
        "required": [
          "vanId",
          "status"
        ],
        "properties": {
          "vanId": {
            "type": "integer"
          },
          "status": {
            "const": "Stored"
          }
        }
      },
      "Page": {
        "type": "object",
        "description": "The envelope every paginated endpoint returns around its `items` array.",
        "required": [
          "count"
        ],
        "properties": {
          "nextPageLink": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Absolute URL of the next page — including an explicit `:443` port — or null on the last page.",
            "examples": [
              "https://api.securevan.com:443/v4/people?lastName=Testperson&$top=1&$skip=1"
            ]
          },
          "count": {
            "type": "integer",
            "description": "Total number of matches across all pages, not the size of this page."
          }
        }
      },
      "SurveyQuestionList": {
        "description": "A page of survey questions.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Page"
          },
          {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SurveyQuestion"
                }
              }
            }
          }
        ]
      },
      "SurveyQuestion": {
        "type": "object",
        "description": "A survey question.",
        "x-provenance": {
          "source": "docs",
          "note": "Item shape derived from official docs; not yet observed live — the sandbox committee has no survey questions and POST /surveyQuestions rejects every type value tried so far."
        },
        "properties": {
          "surveyQuestionId": {
            "type": "integer",
            "description": "Unique identifier of the question."
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "description": "Category of question, e.g. \"GOTV\". The full set of values is not known — POST /surveyQuestions rejected every type tried in the sandbox."
          },
          "cycle": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Election year the question belongs to, as YYYY."
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Full name of the question."
          },
          "mediumName": {
            "type": [
              "string",
              "null"
            ],
            "description": "Abbreviated name, for displays with limited room."
          },
          "shortName": {
            "type": [
              "string",
              "null"
            ],
            "description": "Shortest form of the name, for the tightest displays."
          },
          "scriptQuestion": {
            "type": [
              "string",
              "null"
            ],
            "description": "The question as read aloud to the person."
          },
          "status": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/SurveyQuestionStatus"
              },
              {
                "type": "null"
              }
            ],
            "description": "Whether the question is in use.",
            "x-provenance": {
              "note": "Enum inferred from the values the `statuses` filter accepts; never observed on a live item."
            }
          },
          "responses": {
            "type": [
              "array",
              "null"
            ],
            "description": "The canned answers a canvasser can record against this question.",
            "items": {
              "$ref": "#/components/schemas/SurveyQuestionResponse"
            }
          }
        }
      },
      "SurveyQuestionStatus": {
        "type": "string",
        "description": "`Active` — in use. `Archived` — retired but kept for reporting. `Inactive` — not currently in use.",
        "enum": [
          "Active",
          "Archived",
          "Inactive"
        ]
      },
      "SurveyQuestionResponse": {
        "type": "object",
        "description": "A canned answer to a survey question.",
        "properties": {
          "surveyResponseId": {
            "type": "integer",
            "description": "Unique identifier of the response."
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Full text of the answer, e.g. \"Yes\"."
          },
          "mediumName": {
            "type": [
              "string",
              "null"
            ],
            "description": "Abbreviated form of the answer."
          },
          "shortName": {
            "type": [
              "string",
              "null"
            ],
            "description": "Shortest form of the answer, e.g. \"Y\"."
          }
        }
      },
      "PersonEmail": {
        "type": "object",
        "description": "An email address on a person record, returned when $expand=emails is requested.",
        "x-provenance": {
          "lastProbed": "2026-08-04",
          "note": "Enums taken from the API's own INVALID_PARAMETER responses to POST /people/findOrCreate and confirmed by round-tripping every value through GET /people/{vanId}?$expand=emails. Unlike phones, email codes come back as the same single letters that were written. Nullability probed 2026-08-04: an email written with only the address, and another written with every optional field explicitly null, both read back fully populated with defaults (type P, isPreferred, subscriptionStatus S) — isSubscribed is the only field observed null."
        },
        "properties": {
          "email": {
            "type": "string",
            "description": "The email address."
          },
          "type": {
            "type": "string",
            "enum": [
              "P",
              "W",
              "O"
            ],
            "description": "What kind of address this is. `P` = personal, `W` = work, `O` = other. Defaults to `P` when not set at write time, so it is never null.",
            "x-provenance": {
              "note": "Writing any other value returns 400 INVALID_PARAMETER: \"'type' must be one of P , W , O\". Writing an explicit null reads back as \"P\" (observed 2026-08-04)."
            }
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time",
            "description": "When the address was added to the record. Set by the server."
          },
          "isPreferred": {
            "type": "boolean",
            "description": "Whether this is the person's preferred email address. Exactly one address per person carries it."
          },
          "isSubscribed": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "The pre-Targeted-Email view of `subscriptionStatus`: whether the address may be used in a broadcast email. Derived from `subscriptionStatus` — `S` maps to true, `U` to false, and `N` to null, since neutral has no boolean equivalent.",
            "x-provenance": {
              "note": "The S/U/N -> true/false/null mapping was observed by writing each subscriptionStatus and reading the record back (2026-08-03). The docs describe isSubscribed only as a write field and mark it deprecated where Targeted Email is available; they do not say what it reads back as."
            }
          },
          "subscriptionStatus": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "U",
              "N",
              "S",
              null
            ],
            "description": "Targeted Email subscription state. `S` = subscribed — the default at write time, and the only status that receives Targeted Email messages. `N` = neutral — no message, but not an opt-out. `U` = unsubscribed. Null on some addresses (`isSubscribed` is null there too). This property exists only where the Targeted Email feature is enabled.",
            "x-provenance": {
              "note": "Writing any other value returns 400 INVALID_PARAMETER with hint \"'U', 'S', 'N'\". An email written without it (or with an explicit null) reads back \"S\" (2026-08-04), but the fuzzer's mutation target carries four older non-preferred addresses whose status reads null — the rule that nulls it was not pinned down, so null stays in the schema."
            }
          }
        }
      },
      "PersonPhone": {
        "type": "object",
        "description": "A phone number on a person record, returned when $expand=phones is requested.",
        "x-provenance": {
          "lastProbed": "2026-08-04",
          "note": "Shape and every enum observed live: each documented write code was posted through POST /people/findOrCreate and read back via GET /people/{vanId}?$expand=phones. Fields not in the documented model (dateCreated, isBest, isDisclosure, smsOptInStatus, isCellPhoneExchange, tags) are read-only additions seen on every phone returned. Nullability probed 2026-08-04: a phone written with only phoneNumber, and another written with every optional field explicitly null, both read back fully populated — the server substitutes defaults (phoneType Personal, deviceType Unknown, opt-in statuses Unknown, dialingPrefix/countryCode from the context) — so only ext, isCellStatus and tags are ever null."
        },
        "properties": {
          "phoneId": {
            "type": "integer",
            "description": "Read-only; unique identifier of the phone."
          },
          "phoneNumber": {
            "type": "string",
            "description": "The number, normalized to digits only. Required and validated at write time, so never null."
          },
          "dialingPrefix": {
            "type": "string",
            "description": "1 to 3 digit country dialing prefix, e.g. \"1\" for North America. Derived from the number's country (defaulting to the context's country) when not written."
          },
          "countryCode": {
            "type": "string",
            "description": "ISO alpha-2 code of the country the number belongs to, e.g. \"US\". Derived from the number's country (defaulting to the context's country) when not written."
          },
          "ext": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 6,
            "description": "Extension; no more than six numeric characters."
          },
          "dateCreated": {
[...]
