{
  "openapi": "3.1.0",
  "info": {
    "title": "NGP VAN API (community OpenAPI spec)",
    "version": "0.1.0",
    "description": "Community-maintained OpenAPI spec for the NGP VAN API, reverse-engineered from https://docs.ngpvan.com, the NGPVAN/van-cli source, and live probing of the sandbox API. The spec describes the API's actual behavior as observed. Where that behavior deviates from the official docs, the comparison is recorded out of band in `x-docs-discrepancy` fields (hidden by most documentation renderers) and summarized in [DISCREPANCIES.md](https://github.com/NickCrews/van-openapi/blob/main/DISCREPANCIES.md); research evidence and confidence notes live in `x-provenance` fields.\n\nSource repository: https://github.com/NickCrews/van-openapi — file issues and corrections there. This spec is not published or endorsed by NGP VAN; for questions about the API itself, contact APIDevelopers@ngpvan.com.\n\nSee [STATUS.md](https://github.com/NickCrews/van-openapi/blob/main/STATUS.md) for per-endpoint research status.\n\n**The API is not callable from a browser.** Its CORS support is incomplete: `api.securevan.com` answers the preflight correctly — reflecting the request origin and allowing the `Authorization` header — but omits `Access-Control-Allow-Origin` from the actual response (observed 2026-08-03; a `200` comes back with no `access-control-*` headers at all). A browser therefore sends the request, receives the response, and then blocks the page from reading it. `Access-Control-Allow-Credentials` is missing as well, which Basic auth would separately require. This affects only browser-based callers; server-side clients such as cURL, Python, or Apps Script are unaffected, since CORS is enforced by the browser rather than the server.",
    "contact": {
      "name": "van-openapi on GitHub",
      "url": "https://github.com/NickCrews/van-openapi"
    }
  },
  "externalDocs": {
    "description": "Source repository (NickCrews/van-openapi)",
    "url": "https://github.com/NickCrews/van-openapi"
  },
  "servers": [
    {
      "url": "https://api.securevan.com/v4",
      "description": "Production / sandbox (the API key determines the committee and database)"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "People",
      "description": "Look up, search, create and update people — the contacts and voters that most of the API hangs off."
    },
    {
      "name": "Notes",
      "description": "Free-text notes attached to a person, and the note categories available in the current context."
    },
    {
      "name": "Survey Questions",
      "description": "Survey questions and the canned responses canvassers can record against them."
    },
    {
      "name": "Echoes",
      "description": "Test endpoint for checking auth and connectivity. Writes nothing."
    }
  ],
  "paths": {
    "/people/{vanId}": {
      "get": {
        "operationId": "getPerson",
        "summary": "Get a person by VAN id",
        "description": "Retrieves a person record. Related collections (emails, phones, addresses, …) are null unless requested via $expand, and empty arrays when expanded but absent. An unknown, zero, or negative vanId returns the standard 404 error envelope; a non-integer path segment does not match the route and returns an HTML 404 page instead.",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "vanId",
            "in": "path",
            "required": true,
            "description": "VAN id of the person.",
            "x-docs-discrepancy": "Official docs type this path parameter as string (default \"100476252\"); the route only matches integers — a non-integer segment returns an IIS HTML 404 page (observed 2026-08-03).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            },
            "example": 102714507
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Related sections to include, comma-delimited eg 'addresses,emails'. Anything outside this set returns 400 INVALID_PARAMETER with a hint listing the valid values. Two sections in the set are still refused in a My Campaign context: `scores` with 403 FORBIDDEN and `pollingLocation` with 400 BAD_REQUEST.",
            "x-docs-discrepancy": "Official docs list only 10 valid $expand values; the API's own INVALID_PARAMETER hint (observed 2026-08-03) lists these 23.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "addresses",
                  "biography",
                  "cases",
                  "codes",
                  "contributionHistory",
                  "customFields",
                  "customProperties",
                  "disclosureFieldValues",
                  "districts",
                  "electionRecords",
                  "emails",
                  "externalIds",
                  "membershipStatuses",
                  "notes",
                  "organizationRoles",
                  "phones",
                  "pollingLocation",
                  "preferences",
                  "primaryContact",
                  "recordedAddresses",
                  "reportedDemographics",
                  "scores",
                  "suppressions"
                ]
              }
            },
            "example": [
              "emails",
              "phones",
              "addresses"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The person record. Clients that follow redirects can also land here with `text/html` instead: a path segment containing `<`, `>`, `*` or `&` is bounced to the web application's error page, which answers 200 with HTML (see the 302 response).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                },
                "examples": {
                  "expanded": {
                    "summary": "Sandbox test person with $expand=emails,phones,addresses (abridged: null-only fields omitted)",
                    "value": {
                      "vanId": 102714558,
                      "firstName": "Grace",
                      "lastName": "Testperson",
                      "contactSource": "API",
                      "contactMode": "Person",
                      "salutation": "Grace",
                      "formalSalutation": "Grace Testperson",
                      "envelopeName": "Grace Testperson",
                      "formalEnvelopeName": "Grace Testperson",
                      "isDeceased": false,
                      "dateCreated": "2026-08-03T16:31:00Z",
                      "dateAcquired": "0001-01-01T00:00:00Z",
                      "emails": [
                        {
                          "type": "W",
                          "email": "grace.testperson@example.com",
                          "dateCreated": "2026-08-03T16:31:00Z",
                          "isPreferred": true,
                          "isSubscribed": null,
                          "subscriptionStatus": "N"
                        }
                      ],
                      "phones": [
                        {
                          "phoneId": 1021629,
                          "phoneNumber": "9075550142",
                          "dialingPrefix": "1",
                          "countryCode": "US",
                          "ext": "123",
                          "dateCreated": "2026-08-03T16:31:00Z",
                          "phoneType": "Personal",
                          "deviceType": "Cell",
                          "isPreferred": true,
                          "isBest": true,
                          "isDisclosure": true,
                          "smsOptInStatus": "Opt-In",
                          "phoneOptInStatus": "Opt-In",
                          "isCellPhoneExchange": false,
                          "isCellStatus": null,
                          "tags": null
                        }
                      ],
                      "addresses": [
                        {
                          "addressId": 1206601,
                          "addressLine1": "123 Test St",
                          "addressLine2": "Apt 4",
                          "addressLine3": null,
                          "unitNo": null,
                          "city": "Anchorage",
                          "stateOrProvince": "AK",
                          "zipOrPostalCode": "99501",
                          "geoLocation": null,
                          "countryCode": "US",
                          "preview": "123 Test St Apt 4",
                          "type": "Voting",
                          "isPreferred": true,
                          "isBest": true,
                          "streetAddress": null,
                          "displayMode": "Standardized"
                        },
                        {
                          "addressId": 1206601,
                          "addressLine1": "123 Test St",
                          "addressLine2": "Apt 4",
                          "addressLine3": null,
                          "unitNo": null,
                          "city": "Anchorage",
                          "stateOrProvince": "AK",
                          "zipOrPostalCode": "99501",
                          "geoLocation": null,
                          "countryCode": "US",
                          "preview": "123 Test St Apt 4",
                          "type": "Mailing",
                          "isPreferred": true,
                          "isBest": true,
                          "streetAddress": null,
                          "displayMode": "Standardized"
                        }
                      ]
                    }
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                },
                "x-provenance": {
                  "lastProbed": "2026-08-03",
                  "note": "The VAN web app's \"Oops...something went wrong\" page, reached by following the request-validation 302. Documented so redirect-following clients (including the schemathesis stateful phase, which found it) conform."
                }
              }
            }
          },
          "302": {
            "$ref": "#/components/responses/RequestValidationRedirect"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/PersonNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "operationId": "updatePerson",
        "summary": "Update an existing person",
        "description": "Merges the payload into an existing record, addressed by id — no matching, no minimum-criteria threshold, and no chance of writing to the wrong duplicate. **This is the endpoint to write through once you have identified a person yourself** (e.g. from GET /people); POST /people/findOrCreate resolves ambiguity silently and creates duplicates below the match threshold.\n\nFields left out of the body keep their current values, and `emails`, `phones` and `addresses` are appended to what is already there rather than replacing it — there is no way to remove a contact method through this endpoint. The update is not idempotent for contact methods: sending the same email twice adds it twice.\n\nOutcomes:\n\n- **The vanId exists** — **302 Found** with a `Location` header pointing back at `/people/{vanId}` and a match-stub body: the same shape POST /people/find returns, **not** the updated record.\n- **The body is empty (`{}`)** — accepted, answered the same **302**, and nothing changes.\n- **An unknown, zero or negative vanId** — **404**.",
        "x-provenance": {
          "lastProbed": "2026-08-03",
          "note": "Merge semantics confirmed by updating only middleName on a record and observing firstName, lastName and employer survive; append semantics by adding a second email and seeing both returned, with isPreferred moving to the newer one. Not in the official docs' page index; the path comes from van-cli (people.ts update), which notes PUT is not supported."
        },
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "vanId",
            "in": "path",
            "required": true,
            "description": "VAN id of the person to update.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            },
            "example": 102714580
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonInput"
              },
              "examples": {
                "scalars": {
                  "summary": "Change a couple of fields, leaving the rest alone",
                  "value": {
                    "middleName": "Quinn",
                    "employer": "Ship Creek Group"
                  }
                },
                "addEmail": {
                  "summary": "Append an email address (existing addresses are kept)",
                  "value": {
                    "emails": [
                      {
                        "email": "cre.work@example.com",
                        "type": "W"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Never sent by this endpoint. This is where a redirect-following client *lands* after a successful update:\n\n```\nPOST /people/102714580         {\"firstName\": \"Cre\", …}\n  ← 302 Found\n    Location: https://api.securevan.com/v4/people/102714580   (same URL)\n    {\"vanId\": 102714580, \"status\": \"Matched\"}\n\nGET /people/102714580          ← client re-issues the request at Location\n  ← 200 OK\n    { the merged record — the body documented here }\n```\n\nA happy accident: the update itself never returns the record, but the followed GET does, so redirect-following clients get the merged result for free. See POST /people/find for the full redirect-following notes, including the `curl -X POST -L` gotcha.\n\nThe other way to reach a 200 is a failure: when the 302 was the ASP.NET request-validation bounce (a path segment containing `<`, `>`, `*` or `&`), following it lands on the web application's HTML error page, which answers 200 with `text/html`. Check the content type before parsing JSON.",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "Chain observed end to end with httpx: POST /people/{vanId} with an empty body → 302 back to the same URL → GET → 200 with the full record."
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "302": {
            "description": "The record was updated. `Location` points back at the person resource; the body is a match stub, not the updated record.\n\nThe same status also covers a failure that never reaches the API: a path segment containing `<`, `>`, `*` or `&` is rejected by ASP.NET request validation and redirected to `/Error.aspx?EID={code}` with an HTML body. Check the content type to tell them apart.",
            "headers": {
              "Location": {
                "description": "URL of the updated person — or of the web application's error page when request validation rejected the path.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "example": "https://api.securevan.com/v4/people/102714580"
              }
            },
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                },
                "x-provenance": {
                  "lastProbed": "2026-08-03",
                  "note": "\"Object moved\" body of the request-validation redirect; see the RequestValidationRedirect response for the full story."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonMatched"
                }
              }
            },
            "links": {
              "getUpdatedPerson": {
                "operationId": "getPerson",
                "parameters": {
                  "vanId": "$response.body#/vanId"
                },
                "description": "Fetch the record to see the merged result — the update response does not include it."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/PersonNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/people": {
      "get": {
        "operationId": "searchPeople",
        "summary": "Search for people",
        "description": "Searches for people matching the given criteria and returns full person records in the standard pagination envelope. At least one search parameter must be set: firstName, lastName, middleName, streetAddress, city, stateOrProvince, zipOrPostalCode, phoneNumber, email, commonName, or officialName. A request with none of these — even one with filter or paging parameters set — returns 400 INVALID_PARAMETER with the text \"This endpoint requires at least one search parameter to be set.\" Text criteria are case-insensitive prefix matches: lastName=Testpers matches \"Testperson\", lastName=estperson does not. Related collections on the returned records are null unless requested via $expand.\n\n**This is the endpoint to use when you only have loose criteria.** Unlike POST /people/find and POST /people/findOrCreate — which refuse to attempt a match until you supply one of a handful of minimum field combinations, and answer Unmatched (or create a duplicate) when you cannot — this search has no such threshold. A single name is a perfectly valid query. In exchange it makes no identity claim: it hands back every record whose fields start with what you typed, and deciding which one is your person, or that none of them is, is your job. Inspect the candidates (with $expand for addresses, emails and phones if you need them) and take the vanId from there.",
        "x-provenance": {
          "source": "van-cli people.ts (list command) plus live sandbox probing; the endpoint is absent from the official docs' page index (llms.txt lists only /people/find).",
          "lastProbed": "2026-08-04"
        },
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "firstName",
            "in": "query",
            "description": "First name. Case-insensitive prefix match.",
            "schema": {
              "type": "string"
            },
            "example": "Ada"
          },
          {
            "name": "lastName",
            "in": "query",
            "description": "Last name. Case-insensitive prefix match.",
            "schema": {
              "type": "string"
            },
            "example": "Testperson"
          },
          {
            "name": "middleName",
            "in": "query",
            "description": "Middle name.",
            "schema": {
              "type": "string"
            },
            "example": "Marie"
          },
          {
            "name": "streetAddress",
            "in": "query",
            "description": "Street address.",
            "schema": {
              "type": "string"
            },
            "example": "123 Test St"
          },
          {
            "name": "city",
            "in": "query",
            "description": "City.",
            "schema": {
              "type": "string"
            },
            "example": "Anchorage"
          },
          {
            "name": "stateOrProvince",
            "in": "query",
            "description": "State or province.",
            "schema": {
              "type": "string"
            },
            "example": "AK"
          },
          {
            "name": "zipOrPostalCode",
            "in": "query",
            "description": "ZIP or postal code.",
            "schema": {
              "type": "string"
            },
            "example": "99501"
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "description": "Phone number. Non-numeric characters are stripped, then the value must be a valid North American number matching `^1?[2-9][0-8]\\d[2-9]\\d{6,6}$`; anything else returns 400 INVALID_PARAMETER with that regular expression in the hint.",
            "schema": {
              "type": "string",
              "pattern": "^1?[2-9][0-8]\\d[2-9]\\d{6,6}$"
            },
            "example": "9075550142"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Email address. Case-insensitive prefix match, checked against all of the person's email addresses, not just the preferred one.",
            "schema": {
              "type": "string"
            },
            "example": "ada.testperson@example.com"
          },
          {
            "name": "commonName",
            "in": "query",
            "description": "Organization common name.",
            "schema": {
              "type": "string"
            },
            "example": "Acme Corp"
          },
          {
            "name": "officialName",
            "in": "query",
            "description": "Organization official name.",
            "schema": {
              "type": "string"
            },
            "example": "Acme Corporation"
          },
          {
            "name": "contactMode",
            "in": "query",
            "description": "Filters the results to Person or Organization records. Does not count toward the at-least-one-search-parameter requirement, and any other value is ignored rather than rejected.",
            "schema": {
              "type": "string",
              "enum": ["Person", "Organization"]
            },
            "example": "Person"
          },
          {
            "name": "employer",
            "in": "query",
            "description": "Accepted but has no effect on the results, and does not count toward the at-least-one-search-parameter requirement.",
            "schema": {
              "type": "string"
            },
            "example": "Acme Corp",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "Listed as a search criterion in van-cli people.ts, but adding it to a lastName search never changed the result count, even for values matching no one. Only My Campaign was probed."
            }
          },
          {
            "name": "occupation",
            "in": "query",
            "description": "Accepted but has no effect on the results, and does not count toward the at-least-one-search-parameter requirement.",
            "schema": {
              "type": "string"
            },
            "example": "Engineer",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "Listed as a search criterion in van-cli people.ts, but adding it to a lastName search never changed the result count, even for values matching no one. Only My Campaign was probed."
            }
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "description": "Accepted but has no effect on the results, and does not count toward the at-least-one-search-parameter requirement. Even an unparseable value is accepted and ignored.",
            "schema": {
              "type": "string"
            },
            "example": "1980-01-15",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "Listed as a search criterion in van-cli people.ts, but adding it to a lastName search never changed the result count, even for values matching no one. Only My Campaign was probed."
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Limits the number of results per page. Default 50, maximum 200; 0 and negative values return 400.",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "van-cli caps this at 50 client-side with a comment that VAN limits people search to 50, but the API's own INVALID_PARAMETER hint states default 50 / maximum 200, and $top=200 was accepted live."
            },
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 200
            },
            "example": 50
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of results to skip. Negative values return 400.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 0
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sort expression. The only sortable property is Name; \"Name desc\" sorts descending. Any other property returns 400 INVALID_PARAMETER with the hint \"The only valid orderby property is: 'Name'\".",
            "schema": {
              "type": "string"
            },
            "example": "Name"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Related sections to include, comma-delimited and case-insensitive eg 'addresses,emails' — a much smaller set than GET /people/{vanId} accepts. The API's hint also lists pollingLocation, but requesting it is then refused with 400 BAD_REQUEST \"May not request 'pollingLocation' in this context\", alone or combined, so the usable set is the four below. Anything outside the hinted set returns 400 INVALID_PARAMETER. Expanded collections come back as empty arrays when absent; unexpanded sections stay null.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "addresses",
                  "emails",
                  "phones",
                  "districts"
                ]
              }
            },
            "example": [
              "emails",
              "phones",
              "addresses",
              "districts"
            ],
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "pollingLocation was rejected in My Campaign mode (the only mode the sandbox key can reach); it may be expandable in My Voters mode, which is what the hint presumably describes."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of matching people.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonList"
                },
                "examples": {
                  "No Matches": {
                    "value": {
                      "items": [],
                      "nextPageLink": null,
                      "count": 0
                    }
                  },
                  "First of Many Pages (no $expand)": {
                    "description": "First of 120 matches for lastName=Testperson with $top=1 (item abridged: null-only fields omitted)",
                    "value": {
                      "items": [
                        {
                          "vanId": 102714808,
                          "firstName": null,
                          "lastName": "Testperson",
                          "contactSource": "API",
                          "contactMode": "Person",
                          "isDeceased": false,
                          "dateCreated": "2026-08-03T17:31:00Z",
                          "dateAcquired": "0001-01-01T00:00:00Z",
                          "emails": null,
                          "phones": null,
                          "addresses": null
                        }
                      ],
                      "nextPageLink": "https://api.securevan.com:443/v4/people?lastName=Testperson&$top=1&$skip=1",
                      "count": 120
                    }
                  },
                  "First of Many Pages (with $expand)": {
                    "description": "lastName=Testperson&$top=1&$orderby=Name desc&$expand=emails,phones,addresses,districts (item abridged: null-only fields, sandbox fuzz noise, and the duplicate Mailing copy of the address omitted — see GET /people/{vanId} for that quirk)",
                    "value": {
                      "items": [
                        {
                          "vanId": 102715285,
                          "firstName": "Grace",
                          "lastName": "Testperson",
                          "contactSource": "API",
                          "contactMode": "Person",
                          "sex": "M",
                          "dateOfBirth": "2000-01-01T00:00:00Z",
                          "isDeceased": false,
                          "partialDateOfBirth": {
                            "month": 1,
                            "day": 1,
                            "year": 2000
                          },
                          "dateCreated": "2026-08-04T12:16:00Z",
                          "dateAcquired": "0001-01-01T00:00:00Z",
                          "emails": [
                            {
                              "type": "W",
                              "email": "grace.testperson@example.com",
                              "dateCreated": "2026-08-04T12:16:00Z",
                              "isPreferred": true,
                              "isSubscribed": true,
                              "subscriptionStatus": "S"
                            }
                          ],
                          "phones": [
                            {
                              "phoneId": 1021654,
                              "phoneNumber": "9075550142",
                              "dialingPrefix": "1",
                              "countryCode": "US",
                              "ext": "123",
                              "dateCreated": "2026-08-04T12:25:00Z",
                              "phoneType": "Personal",
                              "deviceType": "Cell",
                              "isPreferred": true,
                              "isBest": true,
                              "isDisclosure": true,
                              "smsOptInStatus": "Opt-In",
                              "phoneOptInStatus": "Opt-In",
                              "isCellPhoneExchange": false,
                              "isCellStatus": null,
                              "tags": null
                            }
                          ],
                          "addresses": [
                            {
                              "addressId": 1206622,
                              "addressLine1": "123 Test St",
                              "addressLine2": "Apt 4",
                              "city": "Anchorage",
                              "stateOrProvince": "AK",
                              "zipOrPostalCode": "99501",
                              "countryCode": "US",
                              "preview": "123 Test St Apt 4",
                              "type": "Voting",
                              "isPreferred": true,
                              "isBest": true,
                              "displayMode": "Standardized"
                            },
                            {
                              "addressId": 1206622,
                              "addressLine1": "123 Test St",
                              "addressLine2": "Apt 4",
                              "city": "Anchorage",
                              "stateOrProvince": "AK",
                              "zipOrPostalCode": "99501",
                              "countryCode": "US",
                              "preview": "123 Test St Apt 4",
                              "type": "Mailing",
                              "isPreferred": true,
                              "isBest": true,
                              "displayMode": "Standardized"
                            }
                          ],
                          "districts": [
                            {
                              "districtFieldId": 0,
                              "name": "County",
                              "parentFieldId": null,
                              "isCustomDistrict": false,
                              "districtFieldValues": [
                                {
                                  "id": "020",
                                  "name": "Anchorage",
                                  "parentId": null
                                }
                              ]
                            },
                            {
                              "districtFieldId": 0,
                              "name": "State",
                              "parentFieldId": null,
                              "isCustomDistrict": false,
                              "districtFieldValues": [
                                {
                                  "id": "AK",
                                  "name": "Alaska",
                                  "parentId": null
                                }
                              ]
                            }
                          ],
                          "pollingLocation": null,
                          "scores": null
                        }
                      ],
                      "nextPageLink": "https://api.securevan.com:443/v4/people?lastName=Testperson&$top=1&$orderby=Name%20desc&$expand=emails%2Cphones%2Caddresses%2Cdistricts&$skip=1",
                      "count": 131
                    }
                  }
                }
              }
            },
            "links": {
              "getFirstPerson": {
                "operationId": "getPerson",
                "parameters": {
                  "vanId": "$response.body#/items/0/vanId"
                },
                "description": "Fetch the first matching person's full record (e.g. with the larger $expand set that getPerson accepts)."
              }
            }
          },
          "400": {
            "description": "Validation error. Most are INVALID_PARAMETER and name the offending query parameter in `properties`; the no-search-parameter case names the pseudo-property \"All Arguments\", and refusing an out-of-context $expand section uses code BAD_REQUEST with no `properties` or `hint` at all.",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "All five examples are verbatim sandbox responses (My Campaign mode)."
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "noSearchParameter": {
                    "summary": "No search parameter set (here: only $top)",
                    "value": {
                      "errors": [
                        {
                          "code": "INVALID_PARAMETER",
                          "text": "This endpoint requires at least one search parameter to be set.",
                          "properties": ["All Arguments"]
                        }
                      ]
                    }
                  },
                  "invalidPhoneNumber": {
                    "summary": "phoneNumber=555",
                    "value": {
                      "errors": [
                        {
                          "code": "INVALID_PARAMETER",
                          "text": "'phoneNumber' (555) is not a valid phone number for NorthAmerica",
                          "properties": ["phoneNumber"],
                          "hint": "After non-numeric characters are removed, value must match the regular expression: ^1?[2-9][0-8]\\d[2-9]\\d{6,6}$"
                        }
                      ]
                    }
                  },
                  "invalidOrderby": {
                    "summary": "$orderby=lastName — only Name is sortable",
                    "value": {
                      "errors": [
                        {
                          "code": "INVALID_PARAMETER",
                          "text": "'lastName' is not a valid argument for the '$orderby' parameter",
                          "properties": ["$orderby"],
                          "hint": "The only valid orderby property is: 'Name'"
                        }
                      ]
                    }
                  },
                  "invalidExpand": {
                    "summary": "$expand=scores — valid on GET /people/{vanId}, not here",
                    "value": {
                      "errors": [
                        {
                          "code": "INVALID_PARAMETER",
                          "text": "'scores' is not a valid argument for the '$expand' parameter",
                          "properties": ["$expand"],
                          "hint": "The only valid expand sections are: 'Addresses', 'Emails', 'Phones', 'Districts', 'PollingLocation'"
                        }
                      ]
                    }
                  },
                  "expandNotAllowedInContext": {
                    "summary": "$expand=pollingLocation — listed in the hint above, but refused in My Campaign mode",
                    "value": {
                      "errors": [
                        {
                          "code": "BAD_REQUEST",
                          "text": "May not request 'pollingLocation' in this context"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/QueryStringTooLong"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/people/find": {
      "post": {
        "operationId": "findPerson",
        "summary": "Find a person matching the given criteria",
        "description": "Attempts to match a person in the database. Read-only: never creates records (use POST /people/findOrCreate for that).\n\nOutcomes:\n\n- **The body supplies a `vanId` that exists** — that record is returned as a **302** and every other criterion is ignored, no threshold involved.\n- **One record matches** — **302 Found**, with a `Location` header pointing at `/people/{vanId}` and a small match-stub body, `{\"vanId\": …, \"status\": \"Matched\"}`.\n- **Several records match** — still a **302** for exactly one of them, and nothing in the response says the match was ambiguous. Which one you get depends on the shape of the criteria; see **When more than one record matches** below.\n- **Nothing matches** — **404** with `{\"vanId\": null, \"status\": \"Unmatched\"}` (a match stub, not the standard error envelope).\n- **The criteria fall short of the minimum combination** — **404 Unmatched** as well, not a 400, and indistinguishable from a genuine no-match. This is the common case to guard against; see **The criteria must reach a minimum combination** below.\n\n## The criteria must reach a minimum combination\n\nThis endpoint is deliberately conservative — it would rather return nothing than return the wrong person. It does not attempt a match at all until the criteria reach one of these combinations:\n\n- first name + last name + **email address**\n- first name + last name + **phone**\n- first name + last name + **zip5** + **date of birth**\n- first name + last name + **street number + street name + zip5**\n- **email address** on its own (a **phone** on its own matches too, though the docs list only email)\n\nAnything short of that — a name on its own, name + date of birth, name + zip — comes back **404 Unmatched** regardless of who is in the database.\n\n**A 404 here does not mean the person does not exist.** It usually means you did not supply enough to identify them. Do not treat Unmatched as \"not in the database\", and in particular do not follow it with a create — see POST /people/findOrCreate, which silently creates a duplicate for exactly this reason.\n\n**If all you have is a name, use GET /people instead.** That endpoint is a loose prefix search with no threshold: `GET /people?firstName=Match&lastName=Threshold` returns full records for every candidate, and you decide which one (if any) is your person by inspecting them. Use /people/find only once you hold a strong identifier.\n\n## How the criteria are compared\n\n- Everything you send must agree with the record. Adding a **wrong** first name to a correct email turns a match into Unmatched — extra criteria narrow, they never widen.\n- Comparison is case- and format-insensitive: `MATCH.THRESHOLD@EXAMPLE.COM` matches the stored lowercase address, `907-555-4242` matches the stored `9075554242`, and per the docs it is accent-insensitive too (\"Pérez\" matches \"Perez\"). Names may match on nicknames and variants unless the context has \"Disable Partial Matching\" turned on.\n- The address combination needs the street **number**: `742 Evergreen Terrace` + zip matched; `Evergreen Terrace` + the same zip did not. A wrong zip with a right street also fails.\n\n## When more than one record matches\n\nDuplicates are common in VAN databases, and this endpoint does not warn you about them: **it returns exactly one vanId with no indication that others also matched.** A 302 is not proof that the match was unique.\n\nThe pick is deterministic, but the tiebreak depends on the shape of the criteria — with three identical records (102719047 < 102719048 < 102720144, same name, email and phone):\n\n- criteria **including a name** (name+email, name+phone, name+dob+zip) → always the **lowest vanId**, i.e. the oldest record\n- criteria **without a name** (email alone, phone alone) → always the **highest vanId**, i.e. the newest record\n\nIt is not the best-matching record and not the most recently updated one: enriching the newer duplicate so it matched the criteria at least as fully did not move a name-based match off the oldest record, and touching either record changed nothing.\n\nThe consequence to plan for: at the threshold you may be handed a stale or partial duplicate, and a follow-up write through POST /people/{vanId} then lands on whichever record won the tiebreak while the other keeps drifting. When it matters that you have *the* record rather than *a* record, list the candidates with GET /people and reconcile them yourself.",
        "x-docs-discrepancy": "Official docs imply a 200 with a person object on match. Sandbox probing (2026-08-03) shows 302 + Location on match and 404 with a match stub on no match; no 400 was observed even for sparse criteria like firstName-only. Criteria below the documented minimum combinations are also answered 404 Unmatched rather than rejected, so under-specified requests are indistinguishable from genuine no-matches. The docs are also silent on ambiguous matches: when several records satisfy the criteria the API returns one of them with no indication that others matched.",
        "x-provenance": {
          "lastProbed": "2026-08-04",
          "note": "Minimum combinations taken from the docs' Match Candidate common model (https://docs.ngpvan.com/reference/common-models) and confirmed one by one against a purpose-built sandbox record (vanId 102719047: Match Threshold, dob 1980-04-15, match.threshold@example.com, 9075554242, 742 Evergreen Terrace / 99501). Unmatched: lastName alone; firstName+lastName; firstName+lastName+dateOfBirth; firstName+lastName+zip; firstName+lastName+street-name-without-number+zip; firstName+lastName+street+wrong zip; wrong firstName + correct email. Matched: email alone; phone alone; name+email; name+phone; name+dob+zip; name+street+zip; uppercased email; phone with dashes; miscased names. Ambiguous-match behavior probed 2026-08-04 with three deliberately identical records (102719047, 102719048, 102720144 — same name, email and phone): exactly one vanId is returned with no ambiguity signal; name-bearing criteria always returned the lowest vanId and name-less criteria (email alone, phone alone) always the highest, across repeated runs, after touching either record, and after enriching the newer duplicate to match the criteria as fully as the older one."
        },
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonMatchCriteria"
              },
              "examples": {
                "nameAndEmail": {
                  "summary": "Match on name + email",
                  "value": {
                    "firstName": "Ada",
                    "lastName": "Testperson",
                    "emails": [
                      {
                        "email": "ada.testperson@example.com"
                      }
                    ]
                  }
                },
                "nameAndPhone": {
                  "summary": "Match on name + phone",
                  "value": {
                    "firstName": "Ada",
                    "lastName": "Testperson",
                    "phones": [
                      {
                        "phoneNumber": "9075551234"
                      }
                    ]
                  }
                },
                "nameAndAddress": {
                  "summary": "Match on name + street number, street name and zip5",
                  "value": {
                    "firstName": "Match",
                    "lastName": "Threshold",
                    "addresses": [
                      {
                        "addressLine1": "742 Evergreen Terrace",
                        "zipOrPostalCode": "99501"
                      }
                    ]
                  }
                },
                "nameAndDobAndZip": {
                  "summary": "Match on name + date of birth + zip5",
                  "value": {
                    "firstName": "Match",
                    "lastName": "Threshold",
                    "dateOfBirth": "1980-04-15",
                    "addresses": [
                      {
                        "zipOrPostalCode": "99501"
                      }
                    ]
                  }
                },
                "emailOnly": {
                  "summary": "Match on an email address alone — no name needed",
                  "value": {
                    "emails": [
                      {
                        "email": "match.threshold@example.com"
                      }
                    ]
                  }
                },
                "belowThreshold": {
                  "summary": "Below the minimum combination — always 404 Unmatched, even for a person who exists",
                  "description": "Name-only criteria never reach the matching threshold. Search with GET /people instead and inspect the candidates yourself.",
                  "value": {
                    "firstName": "Match",
                    "lastName": "Threshold"
                  }
                },
                "byVanId": {
                  "summary": "Look up by vanId (overrides all other criteria)",
                  "value": {
                    "vanId": 102714507
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Never sent by this endpoint. This is where a redirect-following client *lands* on a match:\n\n```\nPOST /people/find              {\"firstName\": \"Ada\", \"lastName\": \"Testperson\", …}\n  ← 302 Found\n    Location: https://api.securevan.com/v4/people/102714507\n    {\"vanId\": 102714507, \"status\": \"Matched\"}\n\nGET /people/102714507          ← client re-issues the request at Location\n  ← 200 OK\n    { full person record — the body documented here }\n```\n\nrequests, httpx, fetch and `curl -L` all follow that redirect and downgrade POST to GET by default, so a match reaches your code as this 200 and a full `Person`, never as the 302 and its two-field match stub. The no-match 404 is not a redirect, so the practical test is `resp.status_code == 200` vs `404`, not `302` vs `404`. The follow-up GET has no `$expand`, so its related collections come back null — re-fetch through the `getMatchedPerson` link if you need addresses, phones or emails.\n\nGotcha: `curl -X POST -L` keeps the method across the redirect and re-POSTs to `/people/{vanId}` — the *update* endpoint — where IIS answers `411 Length Required` because the re-issued request carries no body. Drop the explicit `-X POST` (`-d` already implies POST) and curl downgrades to GET like everything else.",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "Chain observed end to end with httpx and requests (both: 302 → GET → 200 Person) and with curl 8.7.1 both ways (`-d` alone → GET → 200; `-X POST -L` → POST /people/{vanId} → 411). Documented alongside the raw 302 so both redirect-following clients and raw clients (including the schemathesis fuzzer) conform to this spec."
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                },
                "examples": {
                  "matched": {
                    "summary": "Sandbox test person (abridged: null-only fields omitted)",
                    "value": {
                      "vanId": 102714507,
                      "firstName": "Ada",
                      "lastName": "Testperson",
                      "middleName": null,
                      "contactSource": "API",
                      "contactMode": "Person",
                      "salutation": "Ada",
                      "formalSalutation": "Ada Testperson",
                      "envelopeName": "Ada Testperson",
                      "isDeceased": false,
                      "dateCreated": "2026-08-03T12:58:00Z",
                      "dateAcquired": "0001-01-01T00:00:00Z",
                      "party": null,
                      "dateOfBirth": null,
                      "emails": null,
                      "phones": null,
                      "addresses": null
                    }
                  }
                }
              }
            },
            "links": {
              "getMatchedPerson": {
                "operationId": "getPerson",
                "parameters": {
                  "vanId": "$response.body#/vanId"
                },
                "description": "Re-fetch the matched person by id (e.g. with $expand for related collections)."
              }
            }
          },
          "302": {
            "description": "A person matched the criteria. `Location` header points at the canonical person resource.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/MatchedPersonLocation"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonMatched"
                }
              }
            },
            "links": {
              "getMatchedPerson": {
                "operationId": "getPerson",
                "parameters": {
                  "vanId": "$response.body#/vanId"
                },
                "description": "Fetch the matched person's full record — equivalent to following the Location header."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No person matched the criteria. Body is a match stub with status \"Unmatched\" (NOT the standard error envelope).\n\nThis is also the answer when the criteria never reached the minimum combination needed to attempt a match at all — there is no 400 and nothing in the body distinguishes the two cases. **Read it as \"not identified\", not \"not in the database\":** a person you can see through GET /people will still come back Unmatched here if all you sent was their name. See the operation description for the combinations that do trigger a match.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonUnmatched"
                },
                "examples": {
                  "unmatched": {
                    "summary": "No match",
                    "value": {
                      "vanId": null,
                      "status": "Unmatched"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/people/findOrCreate": {
      "post": {
        "operationId": "findOrCreatePerson",
        "summary": "Find a person, or create one if nothing matches",
        "description": "Runs the same match as POST /people/find and, when nothing matches, stores the payload as a new record.\n\nOutcomes:\n\n- **The body supplies a `vanId` that exists** — the match is short-circuited, that record is returned as **302 Found**, and nothing is created.\n- **One record matches** — **302 Found**, with a `Location` header and `{\"vanId\": …, \"status\": \"Matched\"}`.\n- **Several records match** — still a **302** for exactly one of them, with nothing in the response to say the match was ambiguous. See POST /people/find for which one you get.\n- **Nothing matches** — **201 Created** with `{\"vanId\": …, \"status\": \"UnmatchedStored\"}`, and the payload is stored as a new record. Unlike find, this never returns 404 — the no-match case is the create case.\n- **The criteria fall short of the minimum combination** — **201 Created** as well: a brand-new record, even when the person is already in the database. This is the duplicate trap; see **The match half has a minimum threshold** below.\n- **The body is empty (`{}`)** — every field is optional, including the name, so this is a no-match: **201** and a blank record is created.\n\n## The match half has a minimum threshold — below it, you create duplicates\n\nThe match runs under the same rules as POST /people/find: nothing is searched until the payload reaches one of these combinations:\n\n- first name + last name + **email address**\n- first name + last name + **phone**\n- first name + last name + **zip5** + **date of birth**\n- first name + last name + **street number + street name + zip5**\n- **email address** on its own (a **phone** on its own works too)\n\n**Below the threshold there is no \"unmatched\" to inspect — the API just creates a second record.** Posting `{\"firstName\": \"Match\", \"lastName\": \"Threshold\"}` for a person who is already in the database returns 201 with a fresh vanId, and the two records now both exist. This is the main way duplicate records get into a VAN database through the API.\n\nSo: only send a payload here that carries a strong identifier. If all you have is a name, search with GET /people first, decide for yourself whether a candidate is your person, and update it by id through POST /people/{vanId} instead.",
        "x-provenance": {
          "lastProbed": "2026-08-04",
          "note": "Not in the official docs' page index; the path comes from van-cli (people.ts findOrCreate), which requires firstName and lastName client-side. The API itself requires neither — an empty body was accepted (observed 2026-08-03). Threshold behavior confirmed 2026-08-04: firstName+lastName for existing vanId 102719047 created duplicate 102719048 (201 UnmatchedStored); the same name plus the record's email returned 302 Matched."
        },
        "x-docs-discrepancy": "The docs present the minimum match combinations as a matching quality note; in practice, on this endpoint, falling short of them is what silently produces duplicate records (observed 2026-08-04).",
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonInput"
              },
              "examples": {
                "nameAndEmail": {
                  "summary": "Name + email",
                  "value": {
                    "firstName": "Grace",
                    "lastName": "Testperson",
                    "emails": [
                      {
                        "email": "grace.testperson@example.com",
                        "type": "W",
                        "isPreferred": true
                      }
                    ]
                  }
                },
                "fullContact": {
                  "summary": "Name + phone + address",
                  "value": {
                    "firstName": "Grace",
                    "lastName": "Testperson",
                    "phones": [
                      {
                        "phoneNumber": "907-555-0142",
                        "phoneType": "C",
                        "ext": "123",
                        "isPreferred": true,
                        "phoneOptInStatus": "I"
                      }
                    ],
                    "addresses": [
                      {
                        "addressLine1": "123 Test St",
                        "addressLine2": "Apt 4",
                        "city": "Anchorage",
                        "stateOrProvince": "AK",
                        "zipOrPostalCode": "99501",
                        "type": "Home"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Never sent by this endpoint. This is where a redirect-following client *lands* after a match:\n\n```\nPOST /people/findOrCreate      {\"vanId\": 102714558}\n  ← 302 Found\n    Location: https://api.securevan.com/v4/people/102714558\n    {\"vanId\": 102714558, \"status\": \"Matched\"}\n\nGET /people/102714558          ← client re-issues the request at Location\n  ← 200 OK\n    { full person record — the body documented here }\n```\n\nSo on a match your code sees this 200 and a full `Person`, not the 302 and its two-field match stub. `resp.history` (requests/httpx) or `resp.redirected` (fetch) is how you tell this apart from the 201 create path, which sends no `Location` and is never rewritten this way. See POST /people/find for the full redirect-following notes, including the `curl -X POST -L` gotcha.",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "Chain observed end to end with httpx and requests (both: 302 → GET → 200 Person) and with curl 8.7.1 both ways (`-d` alone → GET → 200; `-X POST -L` → POST /people/{vanId} → 411)."
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "201": {
            "description": "Nothing matched, so a new record was created. No `Location` header is sent — the new id is in the body, and redirect-following clients see this response unchanged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonUnmatchedStored"
                }
              }
            },
            "links": {
              "getCreatedPerson": {
                "operationId": "getPerson",
                "parameters": {
                  "vanId": "$response.body#/vanId"
                },
                "description": "Fetch the record that was just created."
              }
            }
          },
          "302": {
            "description": "An existing person matched, so nothing was written.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/MatchedPersonLocation"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonMatched"
                }
              }
            },
            "links": {
              "getMatchedPerson": {
                "operationId": "getPerson",
                "parameters": {
                  "vanId": "$response.body#/vanId"
                },
                "description": "Fetch the matched person's full record."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/TooManyRequests" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/people/create": {
      "post": {
        "operationId": "createPerson",
        "summary": "Create a person without matching",
        "description": "Stores the payload as a new record. **No de-duplication happens**: posting a name and email identical to an existing record creates a second record. Use POST /people/findOrCreate when you want matching — bearing in mind that it too creates a second record unless your payload reaches the minimum match combination documented there (name alone never does).\n\nOutcomes:\n\n- **The body supplies a `vanId` that exists** — nothing is created and that record is returned as **302 Found**, exactly as findOrCreate would answer. This is the only way this endpoint declines to create a record.\n- **Anything else** — **201 Created** with `{\"vanId\": …, \"status\": \"Stored\"}`. A payload identical to an existing person is not a special case: it creates a duplicate.\n- **The body is empty (`{}`)** — every field is optional, so this too returns **201**, creating a blank record with no name.",
        "x-provenance": {
          "lastProbed": "2026-08-03",
          "note": "Not in the official docs' page index; the path comes from van-cli (people.ts create), which requires firstName and lastName client-side. The API requires neither. Duplicate behaviour confirmed by posting an exact copy of an existing person's name and email and receiving a new vanId (observed 2026-08-03)."
        },
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonInput"
              },
              "examples": {
                "minimal": {
                  "summary": "Name only",
                  "value": {
                    "firstName": "Cre",
                    "lastName": "Atetest"
                  }
                },
                "withDetails": {
                  "summary": "Name plus demographics and contact details",
                  "value": {
                    "firstName": "Cre",
                    "lastName": "Atetest",
                    "sex": "F",
                    "dateOfBirth": "1975-04-12",
                    "party": "D",
                    "contactMethodPreferenceCode": "E",
                    "employer": "Ship Creek Group",
                    "occupation": "Engineer",
                    "emails": [
                      {
                        "email": "cre@example.com",
                        "type": "W",
                        "subscriptionStatus": "S"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Never sent by this endpoint. This is where a redirect-following client *lands* when the body carried a `vanId` that already exists:\n\n```\nPOST /people/create            {\"vanId\": 102714558, …}\n  ← 302 Found\n    Location: https://api.securevan.com/v4/people/102714558\n    {\"vanId\": 102714558, \"status\": \"Matched\"}\n\nGET /people/102714558          ← client re-issues the request at Location\n  ← 200 OK\n    { full person record — the body documented here }\n```\n\nSo on the vanId path your code sees this 200 and a full `Person` — and, critically, a response that looks nothing like the 201 you get when a record really was created. Check `resp.history` / `resp.redirected`, or just don't send a `vanId` to a create endpoint. See POST /people/find for the full redirect-following notes, including the `curl -X POST -L` gotcha.",
            "x-provenance": {
              "lastProbed": "2026-08-04",
              "note": "Chain observed end to end with httpx (302 → GET → 200 Person) by posting an existing vanId; identical to the POST /people/findOrCreate and POST /people/find redirects."
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                },
                "examples": {
                  "existingVanIdFollowed": {
                    "summary": "What a redirect-following client receives when the posted vanId already exists (abridged: null-only fields omitted)",
                    "value": {
                      "vanId": 102714558,
                      "firstName": "Dup",
                      "lastName": "Testperson",
                      "contactSource": "API",
                      "contactMode": "Person",
                      "salutation": "Dup",
                      "formalSalutation": "Dup Testperson",
                      "envelopeName": "Dup Testperson",
                      "formalEnvelopeName": "Dup Testperson",
                      "isDeceased": false,
                      "dateCreated": "2026-08-03T16:31:00Z",
                      "dateAcquired": "0001-01-01T00:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "A new record was created. No `Location` header is sent — the new id is in the body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonStored"
                },
                "examples": {
                  "created": {
                    "summary": "New record stored",
                    "value": {
                      "vanId": 102714580,
                      "status": "Stored"
                    }
                  }
                }
              }
            },
            "links": {
              "getCreatedPerson": {
                "operationId": "getPerson",
                "parameters": {
                  "vanId": "$response.body#/vanId"
                },
                "description": "Fetch the record that was just created."
              }
            }
          },
          "302": {
            "description": "The body carried a vanId that already exists, so nothing was created.",
            "headers": {
              "Location": {
                "$ref": "#/components/headers/MatchedPersonLocation"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonMatched"
                }
              }
            },
            "links": {
              "getMatchedPerson": {
                "operationId": "getPerson",
                "parameters": {
                  "vanId": "$response.body#/vanId"
                },
                "description": "Fetch the existing person's full record."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/people/{vanId}/notes": {
      "get": {
        "operationId": "listPersonNotes",
        "summary": "List a person's notes",
        "description": "Returns the person's notes in the standard pagination envelope.\n\nView-restricted notes are withheld from API keys: a note saved with `isViewRestricted: true` is absent from `items` and is not counted in `count`, so every note in the response has `isViewRestricted` false. `contactHistory` is always null, even for a note created with one, and `$expand=noteDetails` — the only value the parameter accepts — returns a byte-identical body.\n\nItems come back oldest first by `createdDate`, ties broken by descending `noteId`. `$orderby` is validated against its two allowed properties but has no observable effect: `CreatedDate desc` returns the same order as the default.\n\nAn unknown, zero or negative vanId returns the standard 404 envelope; a non-integer path segment matches no route and returns an HTML 404 page.",
        "tags": [
          "Notes"
        ],
        "parameters": [
          {
            "name": "vanId",
            "in": "path",
            "required": true,
            "description": "VAN id of the person.",
            "x-docs-discrepancy": "Official docs type this path parameter as string (default \"100476252\"); the route only matches integers — a non-integer segment returns an IIS HTML 404 page (observed 2026-08-04).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            },
            "example": 102714507
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Limits the number of results. Default 25, maximum 50. A value of 0 or less returns 400; so does a non-numeric value, with the same message as an over-maximum one.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 50
            },
            "example": 25
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of results to skip. Must be 0 or greater.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "example": 0
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Accepted but ignored. The API validates the value — only `CreatedDate` and `IsPinned` pass, case-insensitively, optionally followed by ` desc` — and then returns the default order regardless, including for `desc`.",
            "x-provenance": {
              "source": "sandbox probe",
              "lastProbed": "2026-08-04",
              "note": "Valid values come from the API's own INVALID_PARAMETER hint on `$orderby=noteId`. All four accepted values, plus `createddate` in lower case, returned an identical item order on a person with six notes."
            },
            "schema": {
              "type": "string",
              "enum": [
                "CreatedDate",
                "CreatedDate desc",
                "IsPinned",
                "IsPinned desc"
              ]
            },
            "example": "CreatedDate"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "`noteDetails` is the only value the API accepts; anything else returns 400 INVALID_PARAMETER with a hint saying so. Expanding has no observable effect — the response is identical with and without it, `contactHistory` included.",
            "schema": {
              "type": "string",
              "enum": [
                "noteDetails"
              ]
            },
            "example": "noteDetails"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of the person's notes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteList"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "302": {
            "$ref": "#/components/responses/RequestValidationRedirect"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/PersonNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "operationId": "createPersonNote",
        "summary": "Add a note to a person",
        "description": "Creates a note on the person.\n\nOn success the response is **204 No Content** with an empty body: the new `noteId` is not returned and there is no `Location` header, so the only way to learn it is to read the notes back. Two notes with identical text are two separate records — the endpoint is not idempotent.\n\n`isPinned` is accepted and ignored; notes always read back `isPinned: false`. Unknown fields are ignored too. A `contactHistory` object records a Contact History entry alongside the note, but the note's own `contactHistory` stays null in every response.\n\nA note saved with `isViewRestricted: true` can be written but never read back through the API — it is excluded from `GET /people/{vanId}/notes` and from `$expand=notes` on the person.",
        "tags": [
          "Notes"
        ],
        "parameters": [
          {
            "name": "vanId",
            "in": "path",
            "required": true,
            "description": "VAN id of the person to attach the note to. An unknown, zero or negative id returns 404.",
            "x-docs-discrepancy": "Official docs type this path parameter as string (default \"100476252\"); the route only matches integers (observed 2026-08-04).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            },
            "example": 102714507
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteInput"
              },
              "examples": {
                "minimal": {
                  "summary": "Text only",
                  "value": {
                    "text": "Great chat! This person will be able to volunteer next year."
                  }
                },
                "categorized": {
                  "summary": "With a category",
                  "description": "The sandbox committee has no note categories, so this one is illustrative — every id tried there returned 400.",
                  "value": {
                    "text": "Wants to host a house party.",
                    "isViewRestricted": false,
                    "category": {
                      "noteCategoryId": 24
                    }
                  }
                },
                "withContactHistory": {
                  "summary": "Recording a contact alongside the note",
                  "value": {
                    "text": "Spoke by phone; will vote early.",
                    "contactHistory": {
                      "contactTypeId": "1",
                      "inputTypeId": "11",
                      "resultCodeId": "14",
                      "dateCanvassed": "2026-08-01T00:00:00Z"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The note was created. Empty body, no Location header.",
            "links": {
              "listCreatedNote": {
                "operationId": "listPersonNotes",
                "parameters": {
                  "vanId": "$request.path.vanId"
                },
                "description": "Read the person's notes back — the create response does not identify the note it made."
              }
            }
          },
          "302": {
            "$ref": "#/components/responses/RequestValidationRedirect"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/PersonNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/people/{vanId}/notes/{noteId}": {
      "put": {
        "operationId": "updatePersonNote",
        "summary": "Update a note on a person",
        "description": "Updates an existing note. Only `text`, `isViewRestricted` and `category` can be changed; `isPinned` and the note's contact history cannot.\n\n**This action is restricted for the key used to research this spec.** Every request returns 403 FORBIDDEN \"Access to this action is restricted\", whether or not the note exists, so the success path has not been observed live — the request body and the 204 below come from the official docs. `GET` and `DELETE` on this same path are restricted the same way; they are left out of this spec because their success shapes are unknown and undocumented.",
        "x-provenance": {
          "source": "docs, van-cli",
          "lastProbed": "2026-08-04",
          "note": "The route exists: it answers 403, not the 404 an unrouted path gives. PUT with a valid body against a real note (184579 on vanId 102714507) and against a nonexistent noteId both returned 403, so the restriction is applied before the note is looked up. The 204 success response is from https://docs.ngpvan.com/reference/peoplevanidnotesnoteid — not yet observed live."
        },
        "tags": [
          "Notes"
        ],
        "parameters": [
          {
            "name": "vanId",
            "in": "path",
            "required": true,
            "description": "VAN id of the person the note belongs to.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            },
            "example": 102714507
          },
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "description": "Id of the note to edit, as returned by GET /people/{vanId}/notes.",
            "x-docs-discrepancy": "Official docs type this path parameter as string (default \"225\"); the route only matches integers (observed 2026-08-04).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            },
            "example": 184579
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteUpdateInput"
              },
              "examples": {
                "editText": {
                  "summary": "Change the text",
                  "value": {
                    "text": "Updated after a follow-up call."
                  }
                },
                "recategorize": {
                  "summary": "Change text, visibility and category together",
                  "value": {
                    "text": "Updated after a follow-up call.",
                    "isViewRestricted": false,
                    "category": {
                      "noteCategoryId": 24
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The note was updated. Empty body.",
            "x-provenance": {
              "source": "docs",
              "note": "From the official docs; not observed live — the sandbox key gets 403 for this action."
            }
          },
          "302": {
            "$ref": "#/components/responses/RequestValidationRedirect"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ActionRestricted"
          },
          "404": {
            "$ref": "#/components/responses/PersonNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/notes/categories": {
      "get": {
        "operationId": "listNoteCategories",
        "summary": "List note categories",
        "description": "Returns every note category available in the current context as a **bare JSON array** — this endpoint does not use the pagination envelope, and it ignores query parameters such as `$top`.\n\nA category only appears here once it has been opted in to the current context's committee through the Committees picker on its detail page in the VAN UI; being listed on the Note Categories page is not enough. The sandbox committee has none opted in, so only the empty array has been observed live.\n\nOnly a category whose `assignableTypes` include people can be used on a person note; sending any other id to `POST /people/{vanId}/notes` returns 400.",
        "tags": [
          "Notes"
        ],
        "responses": {
          "200": {
            "description": "All note categories in the context, as a bare array.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoteCategory"
                  }
                },
                "examples": {
                  "populated": {
                    "summary": "Two categories",
                    "x-provenance": {
                      "source": "docs",
                      "note": "From the official docs; the item shape has not been observed live."
                    },
                    "value": [
                      {
                        "assignableTypes": [
                          "Event"
                        ],
                        "noteCategoryId": 24,
                        "name": "Event Details"
                      },
                      {
                        "assignableTypes": [
                          "Event",
                          "Organization"
                        ],
                        "noteCategoryId": 23,
                        "name": "Venue Directions"
                      }
                    ]
                  },
                  "empty": {
                    "summary": "No categories opted in (sandbox)",
                    "value": []
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/QueryStringTooLong"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/surveyQuestions": {
      "get": {
        "operationId": "listSurveyQuestions",
        "summary": "List survey questions",
        "description": "Returns the context's survey questions, each with its canned responses, in the standard pagination envelope. Every filter is optional; with none set, Active questions are returned. The sandbox committee has no survey questions, so only the empty page has been observed live.",
        "tags": [
          "Survey Questions"
        ],
        "parameters": [
          {
            "name": "statuses",
            "in": "query",
            "description": "Statuses to include, comma-delimited. Defaults to Active.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/SurveyQuestionStatus"
              }
            },
            "example": [
              "Active",
              "Archived"
            ]
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filters to survey questions whose name starts with the given input.",
            "schema": {
              "type": "string"
            },
            "example": "Gun Control"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filters to survey questions of the given type.",
            "schema": {
              "type": "string"
            },
            "example": "GOTV"
          },
          {
            "name": "question",
            "in": "query",
            "description": "Filters to survey questions whose script question contains the given input.",
            "schema": {
              "type": "string"
            },
            "example": "Will you vote"
          },
          {
            "name": "cycle",
            "in": "query",
            "description": "A year in the format YYYY.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1900,
              "maximum": 2100
            },
            "example": 2026
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Limits the number of results. Default 50, maximum 200.",
            "x-docs-discrepancy": "Official docs claim a default of 40; the API's own INVALID_PARAMETER hint (observed 2026-08-03) states default 50, maximum 200.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 200
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of survey questions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyQuestionList"
                },
                "examples": {
                  "empty": {
                    "summary": "Empty list",
                    "value": {
                      "items": [],
                      "nextPageLink": null,
                      "count": 0
                    }
                  },
                  "populated": {
                    "summary": "Populated list",
                    "x-provenance": {
                      "note": "Constructed from official docs; item shape not yet observed live."
                    },
                    "value": {
                      "items": [
                        {
                          "surveyQuestionId": 1204,
                          "type": "GOTV",
                          "cycle": 2026,
                          "name": "Will Vote 2026",
                          "mediumName": "WillVote26",
                          "shortName": "WV26",
                          "scriptQuestion": "Can we count on you to vote in the 2026 general election?",
                          "status": "Active",
                          "responses": [
                            {
                              "surveyResponseId": 1,
                              "name": "Yes",
                              "mediumName": "Yes",
                              "shortName": "Y"
                            },
                            {
                              "surveyResponseId": 2,
                              "name": "No",
                              "mediumName": "No",
                              "shortName": "N"
                            }
                          ]
                        }
                      ],
                      "nextPageLink": null,
                      "count": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/QueryStringTooLong"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/echoes": {
      "post": {
        "operationId": "createEcho",
        "summary": "Echo a message back",
        "description": "Test endpoint: echoes the posted message back with a server timestamp. Safe to call freely; useful for verifying auth and connectivity. Accepts an empty body (all fields nullable).",
        "tags": [
          "Echoes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EchoRequest"
              },
              "examples": {
                "hello": {
                  "summary": "Simple echo",
                  "value": {
                    "message": "hello"
                  }
                },
                "empty": {
                  "summary": "Empty body (accepted; everything is nullable)",
                  "value": {}
                },
                "delayed": {
                  "summary": "Ask the server to wait before responding",
                  "value": {
                    "message": "slow reply",
                    "delayInMilliseconds": 500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The echoed message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Echo"
                },
                "examples": {
                  "hello": {
                    "summary": "Echoed message (sandbox)",
                    "value": {
                      "message": "hello",
                      "dateSent": "2026-08-03T16:47:29.8973257Z",
                      "delayInMilliseconds": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic auth. Username = an arbitrary label, e.g. `my_fancy_app`; password = `{apiKey}|{databaseMode}` where databaseMode is `0` (My Voters) or `1` (My Campaign) and apiKey is a UUID like `07540886-b749-433c-b18d-a3d052f6b759`. Using a mode your key lacks returns 401 UNAUTHORIZED \"Invalid Database Mode\"."
      }
    },
    "headers": {
      "MatchedPersonLocation": {
        "description": "URL of the person the request resolved to.",
        "schema": {
          "type": "string",
          "format": "uri"
        },
        "example": "https://api.securevan.com/v4/people/102714507"
      }
    },
    "responses": {
      "Forbidden": {
        "description": "The request was valid but the key's context does not allow it. Observed on GET /people/{vanId} with `$expand=scores`: scores are a My Voters feature, so a My Campaign key is refused even though `scores` is in the API's own list of valid sections. The sibling refusal for `pollingLocation` uses 400 BAD_REQUEST instead — the two are not consistent.",
        "x-provenance": {
          "lastProbed": "2026-08-04",
          "note": "Surfaced by the fuzzer once $expand was modelled as an enum of the API's 23 valid sections; each section was then requested in turn against vanId 102714507, and scores was the only 403 (pollingLocation the only 400)."
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "forbiddenSection": {
                "summary": "$expand=scores from a My Campaign key",
                "value": {
                  "errors": [
                    {
                      "code": "FORBIDDEN",
                      "text": "May not request 'scores'"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "ActionRestricted": {
        "description": "The API key's profile does not permit this action at all. The body carries nothing beyond the code, and the check runs before the target is looked up, so a restricted action answers 403 even for an id that does not exist — which also means a 403 here says nothing about whether the record is there.\n\nDistinct from the other 403 in this spec: that one refuses a particular *section* of an otherwise-allowed request (`$expand=scores` from a My Campaign key), while this one refuses the whole operation.",
        "x-provenance": {
          "source": "sandbox probe",
          "lastProbed": "2026-08-04",
          "note": "Observed on GET, PUT and DELETE of /people/{vanId}/notes/{noteId} and on DELETE /people/{vanId} with the research key, while GET and POST of /people/{vanId}/notes work normally. Whether any key in the sandbox committee is granted these actions is unknown, so the success paths behind this response are unverified."
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "restricted": {
                "summary": "PUT /people/102714507/notes/184579",
                "value": {
                  "errors": [
                    {
                      "code": "FORBIDDEN",
                      "text": "Access to this action is restricted"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "QueryStringTooLong": {
        "description": "The request never reached the API. IIS rejects any request whose query string runs past roughly 2048 characters and answers with its own HTML \"404 - File or directory not found\" page, so this 404 means the URL was too long rather than that anything was missing. Nothing in the body identifies the real cause; check the content type, since the API's own 404s are JSON.",
        "x-provenance": {
          "lastProbed": "2026-08-04",
          "note": "Found by the fuzzer on GET /surveyQuestions with a very long generated filter value, then bisected with `statuses=AAA…`: 2000 characters still reach the API (which answers 500), 2100 return the IIS 404. Reproduced on GET /people with a long lastName, so this is infrastructure-wide rather than endpoint-specific."
        },
        "content": {
          "text/html": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "PersonNotFound": {
        "description": "No person with that vanId exists. Zero and negative ids return this too, as the standard error envelope. Two non-API cases share this status and answer with an IIS HTML page instead: a non-integer path segment, which matches no route, and a query string longer than ~2048 characters, which IIS rejects outright.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "notFound": {
                "summary": "Unknown vanId",
                "value": {
                  "errors": [
                    {
                      "code": "NOT_FOUND",
                      "text": "The specified resource cannot be found."
                    }
                  ]
                }
              }
            }
[...]
